.size-32
	width: 32px
	height: 32px

.wrapper
	overflow-x: auto
	margin: 0 auto
	margin-left: $sidebarSize
	min-height: 100vh
	height: 100%

.content
	max-width: calc(409px + 44*1rem)
	min-width: 1114px
	width: 100%
	height: 100%
	margin: 1rem auto
	position: relative
	.container, .container-md, .container-sm
		max-width: 100%

.blocks
	margin-top: 68px
	.row
		// padding-top: 1rem
		padding-bottom: 1rem


.card
	border: none
	border-radius: .75rem
	color: $primary_light

.custom-card-title
	font-size: 14px
	color: $color_primary_darkest

.hidden
	display: none

// Colors
a.primary-light
	color: $primary_light
	&:hover, &:focus
		color: $primary_lighter

.gray-color
	color: $color_primary_darkest

.green-color
	color: $color_quizzes_simple_light

.primary-light
	background-color: $color_primary_light

.hr
	background-color: $color_primary_light
	opacity: 1
	margin: 30px 0
	&.gray
		background-color: $backgrount_light


.pos-abs
	position: absolute
	left: 50%
	transform: translateX(-50%)
	z-index: 1000

	opacity: 0
	&.active
		opacity: 50%

.grid
	height: 100%
	.row
		height: 100%
		.col
			height: 100%
			.smth
				height: 100%
				background-color: #ff000010

img.screenshot
	margin-left: $sidebarSize/2

.blocks.active .row>.col, .blocks.active .row>[class^="col-"]
	background-color: rgba(39,41,43,0.03)
	border: 1px solid rgba(39,41,43,0.1)