.size-32
	width: 32px
	height: 32px

.wrapper
	overflow-x: auto
	margin: 0 auto
	margin-left: $sidebarSize
	min-height: 100vh
	height: 100%

.content
	max-width: calc(409px + 44*1rem)
	min-width: 1114px
	width: 100%
	height: 100%
	margin: 1rem auto
	position: relative
	.container, .container-md, .container-sm
		max-width: 100%

.blocks
	@include interpolate(margin-top, $LP, $fullHD, 51px, 68px)
	.row
		// padding-top: 1rem
		padding-bottom: 1rem

.h-100vh
	height: 100vh

@media (min-width: 768px)
	.h-md-100vh
		height: 100vh

.card
	border: none
	border-radius: .75rem
	color: $primary_light

.custom-card-title
	font-size: 14px
	color: $color_primary_darkest

.hidden
	display: none

.disabled
	cursor: default

// Colors
a.primary-light
	color: $primary_light
	&:hover, &:focus
		color: $primary_lighter

.primary-lightest
	color: $primary_lightest

.gray-color, .color-primary-darkest
	color: $color_primary_darkest

.color_primary_light
	color: $primary_light

.color_green_lighter
	color: $color_green_lighter

.secondary_dark
	color: $secondary_dark

.color_danger_light
	color: $color_danger_light

.green-color
	color: $color_quizzes_simple_light
.primary-lighter
	color: $primary-lighter

.primary-light
	background-color: $color_primary_lighter

.hr
	background-color: $color_primary_lighter
	opacity: 1
	margin: 30px 0
	&.gray
		background-color: $backgrount_lighter

.border-top
	border-top: 1px solid $color_primary_lighter !important


.pos-abs
	position: absolute
	left: 50%
	transform: translateX(-50%)
	z-index: 1000

	opacity: 0
	display: none
	&.active
		opacity: 50%
		display: block

.grid
	height: 100%
	.row
		height: 100%
		.col
			height: 100%
			.smth
				height: 100%
				background-color: #ff000010

img.screenshot.home-1440
	margin-left: 30px
img.screenshot.home-1920
	margin-left: 30px
img.screenshot.sidebar-1440-close
	left: 90px
img.screenshot.sidebar-1440-open
	left: 240px

.blocks.active .row>.col, .blocks.active .row>[class^="col-"]
	background-color: rgba(39,41,43,0.03)
	border: 1px solid rgba(39,41,43,0.1)