$fontsize: 16px
$XLsize: 24px
$LGsize: 20px
$lineheight: 1.5

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 24px
$gutter: $grid-gutter-width

$sidebarSize: 60px
$sidebarSizeOpen: 240px

$LP: 1441px
$fullHD: 1920px

/* Single property */
html
	@include interpolate(font-size, $LP, $fullHD, 16px, 21.33px)

/* Multiple properties with same values */
// h1,h2,h3,h4,h5
	// @include interpolate((padding-top, padding-bottom), 20rem, 70rem, 0rem, .5rem);


h1, h2, h3, h4, h5, h6
	font-weight: 700

h1
	font-size: 3rem
h2
	font-size: 1.8753rem
h3
	font-size: 1.5002rem
h4, .big-text
	font-size: 1.1252rem
h5, p, .default-link, .fz-normal
	font-size: 0.7501rem
h6, .small-text
	font-size: 0.5626rem

.fw-semibold
	font-weight: 600

.w-30
	width: 30%
.w-35
	width: 35%
.w-65
	width: 65%
.w-70
	width: 70%

.mb-48
	@include interpolate(margin-bottom, $LP, $fullHD, 36px, 48px)
.mb-24
	@include interpolate(margin-bottom, $LP, $fullHD, 18px, 24px)
.mt-24
	@include interpolate(margin-top, $LP, $fullHD, 18px, 24px)
.mb-16
	@include interpolate(margin-bottom, $LP, $fullHD, 12px, 16px)
.mr-16
	@include interpolate(margin-right, $LP, $fullHD, 12px, 16px)
.mr-8
	@include interpolate(margin-right, $LP, $fullHD, 6px, 8px)