.fw-600
	font-weight: 600

.content
	padding-left: $sidebarSize
	transition: padding .3s ease
	height: 100%
	max-width: 76.3vw
	margin: 0 auto
	@include media-breakpoint-down(lg)
		padding-left: 0
		padding-top: $sidebarSize
	.container-fluid
		padding: 3% 15px
		// @include media-breakpoint-down(lg)
		// 	padding: 15px

.card
	border: none
	border-radius: 16px
	color: $primary_light

.hidden
	display: none

// Colors
.primary-light
	color: $primary_light
	&:hover, &:focus
		color: $primary_lighter

.primary-light
	background-color: $color_primary_light

.hr
	background-color: $color_primary_light
	opacity: 1
	margin: 30px 0
