.fw-600
	font-weight: 600

.content
	padding-left: $sidebarSize
	transition: padding .3s ease
	height: 100%
	.container-fluid
		padding: 3%

.card
	border: none
	border-radius: 16px
	color: $primary_light