$fontsize: 16px
$XLsize: 24px
$LGsize: 20px
$lineheight: 1.5

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 30px
$gutter: $grid-gutter-width

$sidebarSize: 4vw
$sidebarSizeOpen: 16.7vw

h1, h2, h3, h4, h5, h6
	font-weight: 700

h1
	font-size: 3.33vmax
h2
	font-size: 2.08vmax
h3
	font-size: 1.7vmax
h4
	font-size: 1.25vmax
h5
	font-size: 0.83vmax
h6
	font-size: 0.625vmax