<div class="modal" tabindex="-1" id="addUser" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered flex-column justify-content-center">
		<div class="modal-content text-center">
			<div class="modal-header justify-content-center border-0">
				<h4 class="modal-title w-100">Add parent</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Share this CODE with your parents</p>
			</div>
			<div class="modal-footer text-center justify-content-center border-0">
				<form>
					<div class="input-group custom-group mb-4 mx-auto w-75">
						<input type="text" class="px-3 text-center" name="id" placeholder="12345">
					</div>
					<button type="button" class="btn btn-secondary-dark">Copy code</button>
				</form>
			</div>
		</div>

		<p class="text-center text-white mt-3">Code gonna work only 10 minutes.  <br>If you need generate code again, please come back to this page.</p>

	</div>
</div>