html, body{
	height: 100%;
	background: $color_dashboard_time_gradient;
}
.container{
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	h1{
		width: 100%;
	}
}