<div class="card books-card-list mb-3">
	<div class="card-body">
		<div class="d-flex justify-content-between align-items-center mb-3">
			<h4 class="card-title">Books</h4>
			<a href="javascript:void(0)" class="fz-16 fw-600">See all</a>
		</div>

		<div class="d-flex">

			<div class="col px-1">
				<a href="javascript:void(0)" class="fz-16 d-inline-block fw-600 lh-sm">
					<img src="images/dist/book.jpg" alt="" class="w-100">
					<span class="primary-light rounded-bottom d-block pt-1 px-1 pb-2">
						<h5 class="mb-1">Star Wars Workbook: 4th Grade Math</h5>
						<small class="fz-12">Claire Piddock</small>
					</span>
					<!-- /.primary-light -->					
				</a>
			</div>
			<div class="col px-1">
				<a href="javascript:void(0)" class="fz-16 d-inline-block fw-600 lh-sm">
					<img src="images/dist/book.jpg" alt="" class="w-100">
					<span class="primary-light rounded-bottom d-block pt-1 px-1 pb-2">
						<h5 class="mb-1">Star Wars Workbook: 4th Grade Math</h5>
						<small class="fz-12">Claire Piddock</small>
					</span>
					<!-- /.primary-light -->					
				</a>
			</div>
			<div class="col px-1">
				<a href="javascript:void(0)" class="fz-16 d-inline-block fw-600 lh-sm">
					<img src="images/dist/book.jpg" alt="" class="w-100">
					<span class="primary-light rounded-bottom d-block pt-1 px-1 pb-2">
						<h5 class="mb-1">Star Wars Workbook: 4th Grade Math</h5>
						<small class="fz-12">Claire Piddock</small>
					</span>
					<!-- /.primary-light -->					
				</a>
			</div>
			<div class="col px-1">
				<a href="javascript:void(0)" class="fz-16 d-inline-block fw-600 lh-sm">
					<img src="images/dist/book.jpg" alt="" class="w-100">
					<span class="primary-light rounded-bottom d-block pt-1 px-1 pb-2">
						<h5 class="mb-1">Star Wars Workbook: 4th Grade Math</h5>
						<small class="fz-12">Claire Piddock</small>
					</span>
					<!-- /.primary-light -->					
				</a>
			</div>
			<div class="col px-1">
				<a href="javascript:void(0)" class="fz-16 d-inline-block fw-600 lh-sm">
					<img src="images/dist/book.jpg" alt="" class="w-100">
					<span class="primary-light rounded-bottom d-block pt-1 px-1 pb-2">
						<h5 class="mb-1">Star Wars Workbook: 4th Grade Math</h5>
						<small class="fz-12">Claire Piddock</small>
					</span>
					<!-- /.primary-light -->					
				</a>
			</div>

		</div>
		<!-- /.row -->

	</div>
</div>