<div class="card classes-card-list mb-3">
	<div class="card-body pb-2">
		<div class="d-flex justify-content-between align-items-center mb-3">
			<h4 class="card-title">Subjects</h4>
			<a href="javascript:void(0)" class="fz-16 fw-600">Add more</a>
		</div>

		<div class="d-flex justify-content-center flex-wrap classes-btn">

			<a href="javascript:void(0)" class="btn btn-with-icon btn-primary-lighter">
				<img src="images/dist/icons/btn/math.svg" alt="ALT" class="btn-icon">
				Mathematics
			</a>

			<a href="javascript:void(0)" class="btn btn-with-icon btn-pink-dark">
				<img src="images/dist/icons/btn/chem.svg" alt="ALT" class="btn-icon">
				Chemistry
			</a>

			<a href="javascript:void(0)" class="btn btn-with-icon btn-success-darken">
				<img src="images/dist/icons/btn/biology.svg" alt="ALT" class="btn-icon">
				Biology
			</a>

			<a href="javascript:void(0)" class="btn btn-with-icon btn-advanced-lighter">
				<img src="images/dist/icons/btn/physics.svg" alt="ALT" class="btn-icon">
				Physics
			</a>

			<a href="javascript:void(0)" class="btn btn-with-icon btn-blue-dark">
				<img src="images/dist/icons/btn/social.svg" alt="ALT" class="btn-icon">
				Social
			</a>

			<a href="javascript:void(0)" class="btn btn-with-icon btn-danger-darken">
				<img src="images/dist/icons/btn/history.svg" alt="ALT" class="btn-icon">
				History
			</a>

			<a href="javascript:void(0)" class="btn btn-with-icon btn-simple-lightest">
				<img src="images/dist/icons/btn/english.svg" alt="ALT" class="btn-icon">
				English
			</a>

			<a href="javascript:void(0)" class="btn btn-with-icon btn-primary-lighter">
				<img src="images/dist/icons/btn/math.svg" alt="ALT" class="btn-icon">
				Mathematics
			</a>

			<a href="javascript:void(0)" class="btn btn-with-icon btn-primary-lighter">
				<img src="images/dist/icons/btn/math.svg" alt="ALT" class="btn-icon">
				Mathematics
			</a>

			<a href="javascript:void(0)" class="btn btn-with-icon btn-pink-dark">
				<img src="images/dist/icons/btn/chem.svg" alt="ALT" class="btn-icon">
				Chemistry
			</a>

			<a href="javascript:void(0)" class="btn btn-with-icon btn-success-darken">
				<img src="images/dist/icons/btn/biology.svg" alt="ALT" class="btn-icon">
				Biology
			</a>

			<a href="javascript:void(0)" class="btn btn-with-icon btn-advanced-lighter">
				<img src="images/dist/icons/btn/physics.svg" alt="ALT" class="btn-icon">
				Physics
			</a>

		</div>
		<!-- /.row -->

	</div>
</div>