<div class="card info-card mb-3">
  <div class="card-body">
    <h4 class="card-title">School</h4>
    <div class="d-flex align-items-center">
    	<img src="images/dist/school.png" alt="ALT" class="size-64 me-3">
    	<div class="info-card-text">
    		<h5 class="mb-1 fw-600 name">California Elementary</h5>
    		<p class="fz-16 mb-0">3232 California St, Costa Mesa, CA 92626</p>
    		<p class="fz-16 gray-color mb-0">May 2019 - Now • 3 year 2 mounts </p>    		
    	</div>
    	<!-- /.info-card-text -->
    </div>
    <!-- /.d-flex align-items-center -->
  </div>
</div>

<div class="card teachers-card-list mb-3">
  <div class="card-body">
  	<div class="d-flex justify-content-between align-items-center mb-3">
  		<h4 class="card-title">Teachers</h4>
  		<a href="javascript:void(0)" class="fz-16 fw-600">See all</a>
  	</div>

  	<div class="d-flex">
  		<div class="col text-center mx-1">
  			<a href="javascript:void(0)" class="fz-16 d-inline-block fw-600 lh-sm">
  				<img src="images/dist/user2.png" alt="" class="w-100 rounded-circle mb-1">
  				Eleanor Pena
  			</a>
  		</div>
  		<div class="col text-center mx-1">
  			<a href="javascript:void(0)" class="fz-16 d-inline-block fw-600 lh-sm">
  				<img src="images/dist/user2.png" alt="" class="w-100 rounded-circle mb-1">
  				Eleanor Pena
  			</a>
  		</div>
  		<div class="col text-center mx-1">
  			<a href="javascript:void(0)" class="fz-16 d-inline-block fw-600 lh-sm">
  				<img src="images/dist/user2.png" alt="" class="w-100 rounded-circle mb-1">
  				Eleanor Pena
  			</a>
  		</div>
  		<div class="col text-center mx-1">
  			<a href="javascript:void(0)" class="fz-16 d-inline-block fw-600 lh-sm">
  				<img src="images/dist/user2.png" alt="" class="w-100 rounded-circle mb-1">
  				Eleanor Pena
  			</a>
  		</div>
  		<div class="col text-center mx-1">
  			<a href="javascript:void(0)" class="fz-16 d-inline-block fw-600 lh-sm">
  				<img src="images/dist/user2.png" alt="" class="w-100 rounded-circle mb-1">
  				Eleanor Pena
  			</a>
  		</div>
  		<div class="col text-center mx-1">
  			<a href="javascript:void(0)" class="fz-16 d-inline-block fw-600 lh-sm">
  				<img src="images/dist/user2.png" alt="" class="w-100 rounded-circle mb-1">
  				Eleanor Pena
  			</a>
  		</div>
  	</div>
  	<!-- /.row -->

  </div>
</div>

<div class="card achievements-card-list mb-3">
  <div class="card-body">
  	<div class="d-flex justify-content-between align-items-center mb-3">
  		<h4 class="card-title">Achievements</h4>
  		<a href="javascript:void(0)" class="fz-16 fw-600">See all</a>
  	</div>

  	<div class="d-flex">
  		<div class="col text-center mx-1">
  			<a href="javascript:void(0)" class="d-inline-block">
  				<img src="images/dist/a-1.png" alt="" class="w-100 rounded-circle">
  			</a>
  		</div>
  		<div class="col text-center mx-1">
  			<a href="javascript:void(0)" class="d-inline-block">
  				<img src="images/dist/a-2.png" alt="" class="w-100 rounded-circle">
  			</a>
  		</div>
  		<div class="col text-center mx-1">
  			<a href="javascript:void(0)" class="d-inline-block">
  				<img src="images/dist/a-1.png" alt="" class="w-100 rounded-circle">
  			</a>
  		</div>
  		<div class="col text-center mx-1">
  			<a href="javascript:void(0)" class="d-inline-block">
  				<img src="images/dist/a-2.png" alt="" class="w-100 rounded-circle">
  			</a>
  		</div>
  		<div class="col text-center mx-1">
  			<a href="javascript:void(0)" class="d-inline-block">
  				<img src="images/dist/a-1.png" alt="" class="w-100 rounded-circle">
  			</a>
  		</div>
  		<div class="col text-center mx-1">
  			<a href="javascript:void(0)" class="d-inline-block">
  				<img src="images/dist/a-2.png" alt="" class="w-100 rounded-circle">
  			</a>
  		</div>
  	</div>
  	<!-- /.row -->

  </div>
</div>