<div class="card progress-ring-list mb-3">
	<div class="card-body">
		<div class="d-flex justify-content-between align-items-center mb-3">
			<div class="d-flex align-items-center card-text-left">
				<h4 class="card-title lh-1 mb-0 me-2">Total stats</h4>
				<span class="fz-16 lh-1">This week</span>
			</div>
			<a href="javascript:void(0)" class="fz-16 fw-600">See all</a>
		</div>

		<div class="d-flex justify-content-between">
			<div class="progress-ring text-center">
				<div class="circle" id="circles-1" data-value="48" data-max-value="50" data-color="#85A5D9" data-color-opacity="#E3EAF6" data-text="Hours"></div>
				<span class="progress-ring-text d-block text-center fz-16 fw-normal mt-2">Learning Time</span>	
			</div>
			<!-- /.progress-ring -->

			<div class="progress-ring text-center">
				<div class="circle" id="circles-2" data-value="24" data-max-value="30" data-color="#86D985" data-color-opacity="#E3F6E3"></div>
				<span class="progress-ring-text d-block text-center fz-16 fw-normal mt-2">Homework Done</span>	
			</div>
			<!-- /.progress-ring -->

			<div class="progress-ring text-center">
				<div class="circle" id="circles-3" data-value="8" data-max-value="8" data-color="#D785D9" data-color-opacity="#F6E3F6"></div>
				<span class="progress-ring-text d-block text-center fz-16 fw-normal mt-2">Video Watched</span>	
			</div>
			<!-- /.progress-ring -->

			<div class="progress-ring text-center">
				<div class="circle" id="circles-4" data-value="16" data-max-value="35" data-color="#9F85D9" data-color-opacity="#E9E3F6"></div>
				<span class="progress-ring-text d-block text-center fz-16 fw-normal mt-2">Quizzes Done</span>	
			</div>
			<!-- /.progress-ring -->

			<div class="progress-ring text-center">
				<div class="circle" id="circles-5" data-value="64" data-max-value="74" data-color="#85D3D9" data-color-opacity="#E3F5F6"></div>
				<span class="progress-ring-text d-block text-center fz-16 fw-normal mt-2">Pages Read</span>	
			</div>
			<!-- /.progress-ring -->
		</div>
		<!-- /.d-flex -->
	</div>
</div>

<style>
	.progress-ring .circle{
		transform: rotate(180deg);
	}
	.progress-ring .circles-text{
		transform: rotate(-180deg);
		font-size: 40px !important;
		font-weight: 600;
		line-height: 1 !important;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}
	.circle-desc{
		font-size: 16px;
		font-weight: 600;
	}
	.progress-ring-text{
		color: #8D8D8D;
	}
</style>