<div class="card story-card mb-3">
	<div class="card-body pb-0">
		<div class="d-flex flex-nowrap story-block" id="story-block">
			
			<a href="javascript:void(0)" class="story-item overflow-hidden rounded-circle mx-1 mb-3 size-64 active" style="background-image: url(images/dist/user2.png);"></a>
			<a href="javascript:void(0)" class="story-item overflow-hidden rounded-circle mx-1 mb-3 size-64 active" style="background-image: url(images/dist/user3.png);"></a>
			<a href="javascript:void(0)" class="story-item overflow-hidden rounded-circle mx-1 mb-3 size-64 active" style="background-image: url(images/dist/user-big.png);"></a>
			<a href="javascript:void(0)" class="story-item overflow-hidden rounded-circle mx-1 mb-3 size-64 active" style="background-image: url(images/dist/user2.png);"></a>
			<a href="javascript:void(0)" class="story-item overflow-hidden rounded-circle mx-1 mb-3 size-64 active" style="background-image: url(images/dist/user3.png);"></a>
			<a href="javascript:void(0)" class="story-item overflow-hidden rounded-circle mx-1 mb-3 size-64 active" style="background-image: url(images/dist/user-big.png);"></a>
			<a href="javascript:void(0)" class="story-item overflow-hidden rounded-circle mx-1 mb-3 size-64" style="background-image: url(images/dist/user2.png);"></a>
			<a href="javascript:void(0)" class="story-item overflow-hidden rounded-circle mx-1 mb-3 size-64" style="background-image: url(images/dist/user2.png);"></a>
			<a href="javascript:void(0)" class="story-item overflow-hidden rounded-circle mx-1 mb-3 size-64" style="background-image: url(images/dist/user2.png);"></a>
			<a href="javascript:void(0)" class="story-item overflow-hidden rounded-circle mx-1 mb-3 size-64" style="background-image: url(images/dist/user2.png);"></a>
			<a href="javascript:void(0)" class="story-item overflow-hidden rounded-circle mx-1 mb-3 size-64" style="background-image: url(images/dist/user2.png);"></a>
			<a href="javascript:void(0)" class="story-item overflow-hidden rounded-circle mx-1 mb-3 size-64" style="background-image: url(images/dist/user2.png);"></a>

		</div>
	</div>	
</div>