<div class="card teachers-card-list mb-3">
  <div class="card-body">
  	<div class="d-flex justify-content-between align-items-center mb-3">
  		<h4 class="card-title">Teachers</h4>
  		<a href="javascript:void(0)" class="fz-16 fw-600">See all</a>
  	</div>

  	<div class="d-flex">
  		<div class="col text-center mx-1">
  			<a href="javascript:void(0)" class="fz-16 d-inline-block fw-600 lh-sm">
  				<img src="images/dist/user2.png" alt="" class="w-100 rounded-circle mb-1">
  				Eleanor Pena
  			</a>
  		</div>
  		<div class="col text-center mx-1">
  			<a href="javascript:void(0)" class="fz-16 d-inline-block fw-600 lh-sm">
  				<img src="images/dist/user2.png" alt="" class="w-100 rounded-circle mb-1">
  				Eleanor Pena
  			</a>
  		</div>
  		<div class="col text-center mx-1">
  			<a href="javascript:void(0)" class="fz-16 d-inline-block fw-600 lh-sm">
  				<img src="images/dist/user2.png" alt="" class="w-100 rounded-circle mb-1">
  				Eleanor Pena
  			</a>
  		</div>
  		<div class="col text-center mx-1">
  			<a href="javascript:void(0)" class="fz-16 d-inline-block fw-600 lh-sm">
  				<img src="images/dist/user2.png" alt="" class="w-100 rounded-circle mb-1">
  				Eleanor Pena
  			</a>
  		</div>
  		<div class="col text-center mx-1">
  			<a href="javascript:void(0)" class="fz-16 d-inline-block fw-600 lh-sm">
  				<img src="images/dist/user2.png" alt="" class="w-100 rounded-circle mb-1">
  				Eleanor Pena
  			</a>
  		</div>
  		<div class="col text-center mx-1">
  			<a href="javascript:void(0)" class="fz-16 d-inline-block fw-600 lh-sm">
  				<img src="images/dist/user2.png" alt="" class="w-100 rounded-circle mb-1">
  				Eleanor Pena
  			</a>
  		</div>
  	</div>
  	<!-- /.row -->

  </div>
</div>