/* COLORS */

// turquoise
$turquoiseXS: #79C4D8
$turquoiseS: #4899B5
$turquoiseM: #3680A1
$turquoiseL: #145E72
$turquoiseXL: #195565

// green
$greenS: #9ED8A0
$greenM: #83C988
$greenL: #63B76D

// pink
$pinkS: #EAAECD
$pinkM: #E18BB9
$pinkL: #DA73AA

// yellow
$yellowS: #FFD78F
$yellowM: #FFCD69
$yellowL: #FAC439

// purple
$purpleS: #BA8DFD
$purpleM: #9454F5
$purpleL: #9142EA

// white
$white: #fff

// black
$black: #000


// FONTS
$fontsize: 16px // Body Font Size
$textcolor: $turquoiseM // Text Color
$titlecolor: $turquoiseXL
$lineheight: 1.6 // Document Line Height
$userfont: 'SF Text', -apple-system, BlinkMacSystemFont, Arial, sans-serif // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif // System Font Family