@import "_mixins/functions"
@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $turquoiseS
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-family: $userfont
	font-size: em($fontsize)
	font-weight: 400
	line-height: $lineheight
	color: $textcolor
	min-width: 320px
	position: relative
	overflow-x: hidden

main
	margin-top: 115px
	padding-left: 70px
	height: calc(100vh - 115px)
	&.maxi-top
		margin-top: 153px
		height: calc(100vh - 153px)
	&.sidebar-open
		padding-left: 260px
	+media-breakpoint-down(md)
		padding-left: 0
		height: auto
		margin-top: 0

.flex-wrap
	display: flex
	flex-wrap: wrap


@import "components/components"
@import "blocks/blocks"


@import "media"