---
layout: default
title: Video Class Notes
permalink: /video-class-notes/
header-bottom: 1
header-bottom-menu: video_class_menu 
---

<section class="video-wrap video-class notes">
	<div class="flex-wrap">
		
		<div class="video-class__content">
			<div class="note">
				<h3>Music</h3>
				<p>18th century music includes works characteristic of the Late Baroque period (including Johann Sebastian Bach and George Frideric Handel) and the classical period (including Joseph Haydn and Wolfgang Amadeus Mozart</p>
			</div>

			<div class="note">
				<h3>Music</h3>
				<p>18th century music includes works characteristic of the Late Baroque period (including Johann Sebastian Bach and George Frideric Handel) and the classical period (including Joseph Haydn and Wolfgang Amadeus Mozart</p>
			</div>

			<div class="note">
				<h3>Music</h3>
				<p>18th century music includes works characteristic of the Late Baroque period (including Johann Sebastian Bach and George Frideric Handel) and the classical period (including Joseph Haydn and Wolfgang Amadeus Mozart</p>
			</div>

			<div class="text-center">
				<a href="/newtonteach.me/quiz-start/" class="btn btn--green-l med">Quiz Start</a>
			</div>
			<!-- /.text-center -->

		</div>
		<!-- /.video-class__content -->

		<div class="video-class__sidebar">
		{% include blocks/video-item.html %}
		{% include blocks/video-item.html %}
		{% include blocks/video-item.html %}
		{% include blocks/video-item.html %}
		{% include blocks/video-item.html %}
		{% include blocks/video-item.html %}
		{% include blocks/video-item.html %}
		{% include blocks/video-item.html %}
		{% include blocks/video-item.html %}
		{% include blocks/video-item.html %}
		</div>
		<!-- /.video-class__sidebar -->

	</div>
</section>