---
layout: default
title: Video Class
permalink: /video-class/
header-bottom: 1
header-bottom-menu: video_class_menu 
---

<section class="video-wrap video-class">
	<div class="flex-wrap">
		
		<div class="video-class__content">
			<div class="video-class__video">
				<img src="{{ 'img/video-class.jpg' | relative_url }}" alt="ALT" class="video-class__video--preview">
			</div>
			<!-- /.video-class__video -->
			<div class="video-class__info">
				<a href="/newtonteach.me/video-channel/" class="video-class__avatar">
					<img src="{{ 'img/video-class-avatar.png' | relative_url }}" alt="ALT">
				</a>
				<!-- /.video-class__avatar -->
				
				<div class="video-class__info--text">
					<h2>The 18th century. Most important dates and people changed world.</h2>
					<div class="video-class__info--meta">History For Kids  ·  1.1 M views  ·  8 month ago </div>
					<!-- /.video-class__info--meta -->
				</div>
				<!-- /.video-class__info--text -->
			</div>
			<!-- /.video-class__info -->

			<div class="text-center">
				<div class="note">
					<h3>Music</h3>
					<p>18th century music includes works characteristic of the Late Baroque period (including Johann Sebastian Bach and George Frideric Handel) and the classical period (including Joseph Haydn and Wolfgang Amadeus Mozart</p>
				</div>
				<!-- /.note -->
				<a href="/newtonteach.me/quiz-start/" class="btn btn--green-l med">Quiz Start</a>
			</div>
			<!-- /.text-center -->

		</div>
		<!-- /.video-class__content -->

		<div class="video-class__sidebar">
		{% include blocks/video-item.html %}
		{% include blocks/video-item.html %}
		{% include blocks/video-item.html %}
		{% include blocks/video-item.html %}
		{% include blocks/video-item.html %}
		{% include blocks/video-item.html %}
		{% include blocks/video-item.html %}
		{% include blocks/video-item.html %}
		{% include blocks/video-item.html %}
		{% include blocks/video-item.html %}
		</div>
		<!-- /.video-class__sidebar -->

	</div>
</section>