<section class="achievements inline-title">
	<h2>My Achievements</h2>
	<a href="javascript:void(0)" class="read-more">See all</a>

	<div class="flex-wrap">

		<a href="javascript:void(0)" class="achievements__item" title="Title">
			<img src="{{ 'img/achievements/spaceship.svg' | relative_url }}" alt="ALT">
		</a>
		<!-- /.achievements__item -->

		<a href="javascript:void(0)" class="achievements__item" title="Title">
			<img src="{{ 'img/achievements/tree.svg' | relative_url }}" alt="ALT">
		</a>
		<!-- /.achievements__item -->

		<a href="javascript:void(0)" class="achievements__item" title="Title">
			<img src="{{ 'img/achievements/spaceship.svg' | relative_url }}" alt="ALT">
		</a>
		<!-- /.achievements__item -->

		<a href="javascript:void(0)" class="achievements__item" title="Title">
			<img src="{{ 'img/achievements/tree.svg' | relative_url }}" alt="ALT">
		</a>
		<!-- /.achievements__item -->

		<a href="javascript:void(0)" class="achievements__item" title="Title">
			<img src="{{ 'img/achievements/spaceship.svg' | relative_url }}" alt="ALT">
		</a>
		<!-- /.achievements__item -->

		<a href="javascript:void(0)" class="achievements__item" title="Title">
			<img src="{{ 'img/achievements/tree.svg' | relative_url }}" alt="ALT">
		</a>
		<!-- /.achievements__item -->

	</div>
	<!-- /.flex-wrap -->
</section>