<section class="classes classes__inner">

	<div class="flex-wrap">

		<a href="javascript:void(0)" class="btn with-icon btn--yellow">
			<img src="{{ 'img/icons/buttons/video.svg' | relative_url }}" alt="Video Classes" class="btn-icon">
			Video Classes
		</a>
		<a href="javascript:void(0)" class="btn with-icon btn--green-m">
			<img src="{{ 'img/icons/buttons/tutors.svg' | relative_url }}" alt="Tutors" class="btn-icon">
			Tutors
		</a>
		<a href="javascript:void(0)" class="btn with-icon btn--turquoise">
			<img src="{{ 'img/icons/buttons/quizzes.svg' | relative_url }}" alt="Quizzes" class="btn-icon">
			Quizzes
		</a>
		<a href="javascript:void(0)" class="btn with-icon btn--light-pink">
			<img src="{{ 'img/icons/buttons/homework.svg' | relative_url }}" alt="Homework" class="btn-icon">
			Homework
		</a>
		<a href="javascript:void(0)" class="btn with-icon btn--light-blue">
			<img src="{{ 'img/icons/buttons/books.svg' | relative_url }}" alt="Books" class="btn-icon">
			Books
		</a>
		<a href="javascript:void(0)" class="btn with-icon btn--purple">
			<img src="{{ 'img/icons/buttons/statistics.svg' | relative_url }}" alt="Statistics" class="btn-icon">
			Statistics
		</a>

	</div>
</section>