<section class="classes">
	<h2>My Classes</h2>
	<div class="flex-wrap">

		<a href="javascript:void(0)" class="btn with-icon btn--yellow">
			<img src="{{ 'img/icons/buttons/math.svg' | relative_url }}" alt="Mathematics" class="btn-icon">
			Mathematics
		</a>
		<a href="javascript:void(0)" class="btn with-icon btn--pink">
			<img src="{{ 'img/icons/buttons/physics.svg' | relative_url }}" alt="Physics" class="btn-icon">
			Physics
		</a>
		<a href="javascript:void(0)" class="btn with-icon btn--turquoise">
			<img src="{{ 'img/icons/buttons/chemistry.svg' | relative_url }}" alt="Chemistry" class="btn-icon">
			Chemistry
		</a>
		<a href="javascript:void(0)" class="btn with-icon btn--green-m">
			<img src="{{ 'img/icons/buttons/english.svg' | relative_url }}" alt="English" class="btn-icon">
			English
		</a>
		<a href="javascript:void(0)" class="btn with-icon btn--blue">
			<img src="{{ 'img/icons/buttons/biology.svg' | relative_url }}" alt="Biology" class="btn-icon">
			Biology
		</a>
		<a href="javascript:void(0)" class="btn with-icon btn--orange">
			<img src="{{ 'img/icons/buttons/history.svg' | relative_url }}" alt="History" class="btn-icon">
			History
		</a>
		<a href="javascript:void(0)" class="btn with-icon btn--light-pink">
			<img src="{{ 'img/icons/buttons/geo.svg' | relative_url }}" alt="Geography" class="btn-icon">
			Geography
		</a>
		<a href="javascript:void(0)" class="btn with-icon btn--dark-yellow">
			<img src="{{ 'img/icons/buttons/soc.svg' | relative_url }}" alt="Social" class="btn-icon">
			Social
		</a>
		<a href="javascript:void(0)" class="btn with-icon btn--add-more">
			<img src="{{ 'img/icons/buttons/add.svg' | relative_url }}" alt="Add More" class="btn-icon">
			Add More
		</a>

	</div>
</section>