<section class="recommended">
	<h2>Recommended to Learn</h2>

	<div class="slider-section">

		<div class="slider__item">
			<div class="slider__item--img">
				<img src="{{ 'img/sliders/recommended/map.jpg' | relative_url }}" alt="ALT">
			</div>
			<div class="slider__item--content">
				<a href="javascript:void(0)" class="slider__item--title">USA history in numbers</a>
				<p class="slider__item--text">What other students of your grade are studying now</p>
			</div>
		</div>
		<!-- /.slider__item -->
		<div class="slider__item">
			<div class="slider__item--img">
				<img src="{{ 'img/sliders/recommended/map.jpg' | relative_url }}" alt="ALT">
			</div>
			<div class="slider__item--content">
				<a href="javascript:void(0)" class="slider__item--title">USA history in numbers</a>
				<p class="slider__item--text">What other students of your grade are studying now</p>
			</div>
		</div>
		<!-- /.slider__item -->
		<div class="slider__item">
			<div class="slider__item--img">
				<img src="{{ 'img/sliders/recommended/map.jpg' | relative_url }}" alt="ALT">
			</div>
			<div class="slider__item--content">
				<a href="javascript:void(0)" class="slider__item--title">USA history in numbers</a>
				<p class="slider__item--text">What other students of your grade are studying now</p>
			</div>
		</div>
		<!-- /.slider__item -->
		<div class="slider__item">
			<div class="slider__item--img">
				<img src="{{ 'img/sliders/recommended/map.jpg' | relative_url }}" alt="ALT">
			</div>
			<div class="slider__item--content">
				<a href="javascript:void(0)" class="slider__item--title">USA history in numbers</a>
				<p class="slider__item--text">What other students of your grade are studying now</p>
			</div>
		</div>
		<!-- /.slider__item -->

	</div>
	<!-- /.slider-section -->
</section>