<section class="video inline-title">
	<h2>Video Suggestions</h2>
	<a href="javascript:void(0)" class="read-more">See All</a>

	<div class="slider-section">

		<div class="slider__item video__item">
			<div class="slider__item--img">
				<img src="{{ 'img/sliders/news/news.jpg' | relative_url }}" alt="ALT">
			</div>
			<div class="slider__item--content">
				<a href="javascript:void(0)" class="slider__item--title">Women’s Day. We celebrate 8th March</a>
				<p class="slider__item--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<div class="link-wrap"><a href="javascript:void(0)">Read More</a></div>
			</div>
		</div>

	</div>
	<!-- /.slider-section -->
</section>