.btn{
	padding: 18px 48px;
	border-radius: 40px;
	font-size: 0.6667rem;
	font-weight: 600;
	line-height: 0.7917rem;
	cursor: pointer;
	transition: all .25s ease;
	text-decoration: none;
	color: inherit;
	text-transform: capitalize;
	&:hover{
		text-decoration: none;
		color: inherit;
	}
}

// Розовая
.btn-secondary-dark{
	color: $color_primary_lightest;
	background-color: $secondary_dark;
	&:hover{
		background-color: $secondary_light;
		color: $color_primary_lightest;
	}
	&:focus, &:active{
		background-color: $secondary_lighter;
	}
}