<div class="history__block">

	<a href="javascript:void(0)" class="history__link">
		<img src="{{ 'img/history_block/1.jpg' | relative_url }}" alt="ALT" class="history__preview">
		<span class="history__title">Sciense</span>
	</a>
	<a href="javascript:void(0)" class="history__link">
		<img src="{{ 'img/history_block/2.jpg' | relative_url }}" alt="ALT" class="history__preview">
		<span class="history__title">History</span>
	</a>
	<a href="javascript:void(0)" class="history__link">
		<img src="{{ 'img/history_block/3.jpg' | relative_url }}" alt="ALT" class="history__preview">
		<span class="history__title">Geography</span>
	</a>
	<a href="javascript:void(0)" class="history__link">
		<img src="{{ 'img/history_block/1.jpg' | relative_url }}" alt="ALT" class="history__preview">
		<span class="history__title">Sciense</span>
	</a>
	<a href="javascript:void(0)" class="history__link">
		<img src="{{ 'img/history_block/2.jpg' | relative_url }}" alt="ALT" class="history__preview">
		<span class="history__title">History</span>
	</a>
	<a href="javascript:void(0)" class="history__link">
		<img src="{{ 'img/history_block/3.jpg' | relative_url }}" alt="ALT" class="history__preview">
		<span class="history__title">Geography</span>
	</a>
	<a href="javascript:void(0)" class="history__link">
		<img src="{{ 'img/history_block/1.jpg' | relative_url }}" alt="ALT" class="history__preview">
		<span class="history__title">Sciense</span>
	</a>
	<a href="javascript:void(0)" class="history__link">
		<img src="{{ 'img/history_block/2.jpg' | relative_url }}" alt="ALT" class="history__preview">
		<span class="history__title">History</span>
	</a>
	<a href="javascript:void(0)" class="history__link">
		<img src="{{ 'img/history_block/3.jpg' | relative_url }}" alt="ALT" class="history__preview">
		<span class="history__title">Geography</span>
	</a>
	<a href="javascript:void(0)" class="history__link">
		<img src="{{ 'img/history_block/1.jpg' | relative_url }}" alt="ALT" class="history__preview">
		<span class="history__title">Sciense</span>
	</a>
	<a href="javascript:void(0)" class="history__link">
		<img src="{{ 'img/history_block/2.jpg' | relative_url }}" alt="ALT" class="history__preview">
		<span class="history__title">History</span>
	</a>
	<a href="javascript:void(0)" class="history__link">
		<img src="{{ 'img/history_block/3.jpg' | relative_url }}" alt="ALT" class="history__preview">
		<span class="history__title">Geography</span>
	</a>


</div>