<div class="container-fluid grid pos-abs px-0">
	<div class="row">
		<div class="col">
			<div class="smth"></div>
			<!-- /.smth -->
		</div>
		<!-- /.col -->
		<div class="col">
			<div class="smth"></div>
			<!-- /.smth -->
		</div>
		<!-- /.col -->
		<div class="col">
			<div class="smth"></div>
			<!-- /.smth -->
		</div>
		<!-- /.col -->
		<div class="col">
			<div class="smth"></div>
			<!-- /.smth -->
		</div>
		<!-- /.col -->
		<div class="col">
			<div class="smth"></div>
			<!-- /.smth -->
		</div>
		<!-- /.col -->
		<div class="col">
			<div class="smth"></div>
			<!-- /.smth -->
		</div>
		<!-- /.col -->
		<div class="col">
			<div class="smth"></div>
			<!-- /.smth -->
		</div>
		<!-- /.col -->
		<div class="col">
			<div class="smth"></div>
			<!-- /.smth -->
		</div>
		<!-- /.col -->
		<div class="col">
			<div class="smth"></div>
			<!-- /.smth -->
		</div>
		<!-- /.col -->
		<div class="col">
			<div class="smth"></div>
			<!-- /.smth -->
		</div>
		<!-- /.col -->
		<div class="col">
			<div class="smth"></div>
			<!-- /.smth -->
		</div>
		<!-- /.col -->
		<div class="col">
			<div class="smth"></div>
			<!-- /.smth -->
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row exaple -->
</div>