<header class="header" id="header">

	<div class="header__top">
		<a href="/" class="back-link">
			<img src="{{ './img/icons/arrow-left.svg' | relative_url }}" alt="Back">
			<span>Back</span>
		</a>
		<!-- /.back-link -->

		<h1>Video Class</h1>

		<a href="javascript:void(0)" class="help-link" title="Help">
			<img src="{{ './img/icons/help-icon.svg' | relative_url }}" alt="Help">
		</a>
		<!-- /.help-link -->
	</div>
	<!-- /.header__top -->

	<div class="header__bottom">
		<nav>
			<ul>
				<li><a href="javascript:void(0)">Video</a></li>
				<li class="active"><a href="javascript:void(0)">Notes</a></li>
				<li><a href="javascript:void(0)">Quiz</a></li>
				<li><a href="javascript:void(0)">About</a></li>
			</ul>
		</nav>
	</div>
	<!-- /.header__bottom -->

</header>
<!-- /#header.header -->