<aside class="sidebar fixed-top text-white" id="sidebar">

	<div class="sidebar-btn sidebar-link d-flex align-items-center">
		<div class="sidebar-link__icon">
			<img src="images/dist/icons/menu.svg" alt="">
		</div>
		<!-- /.sidebar-link__icon -->
		<span class="sidebar-link__text fw-600">Menu</span>
	</div>
	<!-- /.sidebar-btn -->

	<a href="javascript:void(0)" class="sidebar-link user-link d-flex flex-nowrap align-items-center text-white">
		<div class="custom-card-img sidebar-link__icon">
			<img src="images/dist/user.png" alt="">
		</div>
		<div class="user-info sidebar-link__text">
			<h4 class="card-title mb-1">Jessica McCaffrey</h4>
			<p class="card-text"><small>5th Grade Student</small></p>
		</div>
	</a>

	<div class="sidebar-menu">

		<a class="sidebar-link d-flex align-items-center text-white">
			<span class="sidebar-link__icon">
				<img src="images/dist/icons/diary.svg" alt="">
			</span>
			<!-- /.sidebar-link__icon -->
			<span class="sidebar-link__text">Diary</span>
		</a>
		<a class="sidebar-link d-flex align-items-center text-white">
			<span class="sidebar-link__icon">
				<img src="images/dist/icons/statistics.svg" alt="">
			</span>
			<!-- /.sidebar-link__icon -->
			<span class="sidebar-link__text">Statistics</span>
		</a>
		<a class="sidebar-link d-flex align-items-center text-white">
			<span class="sidebar-link__icon">
				<img src="images/dist/icons/book-opened-filled-reading-tool.svg" alt="">
			</span>
			<!-- /.sidebar-link__icon -->
			<span class="sidebar-link__text">Homework</span>
		</a>
		<a class="sidebar-link d-flex align-items-center text-white">
			<span class="sidebar-link__icon">
				<img src="images/dist/icons/speech-bubble.svg" alt="">
			</span>
			<!-- /.sidebar-link__icon -->
			<span class="sidebar-link__text">Messages</span>
		</a>
		<a class="sidebar-link d-flex align-items-center text-white">
			<span class="sidebar-link__icon">
				<img src="images/dist/icons/folder.svg" alt="">
			</span>
			<!-- /.sidebar-link__icon -->
			<span class="sidebar-link__text">Materials</span>
		</a>
		<a class="sidebar-link d-flex align-items-center text-white">
			<span class="sidebar-link__icon">
				<img src="images/dist/icons/calendar.svg" alt="">
			</span>
			<!-- /.sidebar-link__icon -->
			<span class="sidebar-link__text">Schedule</span>
		</a>
		<a class="sidebar-link d-flex align-items-center text-white">
			<span class="sidebar-link__icon">
				<img src="images/dist/icons/tutors.svg" alt="">
			</span>
			<!-- /.sidebar-link__icon -->
			<span class="sidebar-link__text">Tutors</span>
		</a>

		<div class="sidebar-menu__bottom">
			<a class="sidebar-link d-flex align-items-center text-white">
				<span class="sidebar-link__icon">
					<img src="images/dist/icons/settings.svg" alt="">
				</span>
				<!-- /.sidebar-link__icon -->
				<span class="sidebar-link__text">Settings</span>
			</a>
			<a href="javascript:void(0)" class="sidebar-link d-flex align-items-center text-white help">
				<span class="sidebar-link__icon">
					<img src="images/dist/icons/question-mark.svg" alt="">
				</span>
				<!-- /.sidebar-link__icon -->
				<span class="sidebar-link__text">Help</span>
			</a>
			<a href="javascript:void(0)" class="sidebar-link d-flex align-items-center text-white invite">
				<span class="sidebar-link__icon">
					<img src="images/dist/icons/heart.svg" alt="">
				</span>
				<!-- /.sidebar-link__icon -->
				<span class="sidebar-link__text">Invite friends</span>
			</a>
		</div>
		<!-- /.sidebar-menu__bottom -->

		<a href="javascript:void(0)" class="sidebar-logo">
			<img src="images/dist/logo-white.svg" alt="" class="sidebar-open">
			<img src="images/dist/logo-circle.svg" alt="" class="sidebar-close size-32">
		</a>
		<!-- /.sidebar-logo -->

	</div>

</aside>