<aside class="sidebar open" id="sidebar">

	<button class="sidebar-btn active"><span></span><span></span><span></span></button>

	<div class="user">
		<div class="user__photo">
			<img src="img/user.png" alt="User">
		</div>
		<!-- /.user__photo -->
		<div class="user__info">
			<span class="user__name">Jesica Born</span>
			<span class="user__pos">Student</span>
		</div>
		<!-- /.user__info -->
	</div>
	<!-- /.user -->

	<hr>

	<nav class="user__menu">
		<ul>
			<span class="user__menu--row">
				<li>
					<a href="javascript:void(0)">
						<span class="user__menu-icon">
							<img src="img/icons/ic_laptop_mac_24px.svg" alt="Classwork">
						</span>
						<!-- /.user__menu-icon -->							
						<span class="user__menu-title">Classwork</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<span class="user__menu-icon">
							<img src="img/icons/ic_local_library_24px.svg" alt="Knowledge">
						</span>
						<!-- /.user__menu-icon -->							
						<span class="user__menu-title">Knowledge</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<span class="user__menu-icon">
							<img src="img/icons/ic_home_24px.svg" alt="Home">
						</span>
						<!-- /.user__menu-icon -->							
						<span class="user__menu-title">Home</span>
					</a>
				</li>
			</span>
			<!-- /.user__menu--row -->

			<li>
				<a href="javascript:void(0)">
					<span class="user__menu-icon">
						<img src="img/icons/ic_assessment_24px.svg" alt="Statistics">
					</span>
					<!-- /.user__menu-icon -->							
					<span class="user__menu-title">Statistics</span>
				</a>
			</li>

			<li>
				<a href="javascript:void(0)">
					<span class="user__menu-icon">
						<img src="img/icons/ic_insert_invitation_24px.svg" alt="Schedule">
					</span>
					<!-- /.user__menu-icon -->							
					<span class="user__menu-title">Schedule</span>
				</a>
			</li>

			<li>
				<a href="javascript:void(0)">
					<span class="user__menu-icon">
						<img src="img/icons/ic_video_library_24px.svg" alt="Video Classes">
					</span>
					<!-- /.user__menu-icon -->							
					<span class="user__menu-title">Video Classes</span>
				</a>
			</li>

			<li>
				<a href="javascript:void(0)">
					<span class="user__menu-icon">
						<img src="img/icons/ic_spellcheck_24px.svg" alt="My Quizzes">
					</span>
					<!-- /.user__menu-icon -->							
					<span class="user__menu-title">My Quizzes</span>
				</a>
			</li>

			<li>
				<a href="javascript:void(0)">
					<span class="user__menu-icon">
						<img src="img/icons/ic_book_24px.svg" alt="My Books">
					</span>
					<!-- /.user__menu-icon -->							
					<span class="user__menu-title">My Books</span>
				</a>
			</li>

			<li>
				<a href="javascript:void(0)">
					<span class="user__menu-icon">
						<img src="img/icons/ic_account_box_24px.svg" alt="Tutors">
					</span>
					<!-- /.user__menu-icon -->							
					<span class="user__menu-title">Tutors</span>
				</a>
			</li>
			
			<li>
				<a href="javascript:void(0)">
					<span class="user__menu-icon">
						<img src="img/icons/ic_forum_24px.svg" alt="Messages">
					</span>
					<!-- /.user__menu-icon -->							
					<span class="user__menu-title">Messages</span>
				</a>
			</li>

			<li>
				<a href="javascript:void(0)">
					<span class="user__menu-icon">
						<img src="img/icons/ic_school_24px.svg" alt="Homework">
					</span>
					<!-- /.user__menu-icon -->							
					<span class="user__menu-title">Homework</span>
				</a>
			</li>

			<li>
				<a href="javascript:void(0)">
					<span class="user__menu-icon">
						<img src="img/icons/ic_account_balance_24px.svg" alt="School">
					</span>
					<!-- /.user__menu-icon -->							
					<span class="user__menu-title">School</span>
				</a>
			</li>

			<hr>

			<li>
				<a href="javascript:void(0)">
					<span class="user__menu-icon">
						<img src="img/icons/ic_settings_24px.svg" alt="Settings">
					</span>
					<!-- /.user__menu-icon -->							
					<span class="user__menu-title">Settings</span>
				</a>
			</li>

			<li>
				<a href="javascript:void(0)">
					<span class="user__menu-icon">
						<img src="img/icons/help-icon.svg" alt="Help">
					</span>
					<!-- /.user__menu-icon -->							
					<span class="user__menu-title">Help</span>
				</a>
			</li>

		</ul>
	</nav>
	<!-- /.user__menu -->

	<div class="sidebar-footer">
		<a href="javascript:void(0)" class="btn btn-white">Invite To Newton</a>
		<a href="/" class="sidebar-logo">
			<img src="img/logo-white.svg" alt="Newton">
			<img src="img/logo-circle.svg" alt="Newton">
		</a>
	</div>
	<!-- /.sidebar-footer -->
	
</aside>
<!-- /#sidebar.sidebar -->