.quiz__item
	max-width: 500px
	width: auto
	display: flex !important
	margin: 0 10px
	&--img
		flex: 1 0 130px
		text-align: center
		position: relative
		border-radius: 10px
		background: $white
		box-shadow: 0px 0px 10px rgba($black, 0.16)
		overflow: hidden
		padding-bottom: 36px
		img
			width: 100%
			height: auto
			display: block
	&--content
		padding: 10px 20px
	&--title
		font-weight: 600
		font-size: em(20px)
		line-height: 1.2
		outline: none
		+media-breakpoint-down(xs)
			font-size: em(15px)
	&--text
		font-size: em(13px)
		font-weight: normal
	&--meta
		font-size: em(11px)
		font-weight: normal
		color: $turquoiseL
	.difficulty
		position: absolute
		font-size: em(20px)
		font-weight: 600
		color: $white
		height: 36px
		line-height: 36px
		left: 0
		bottom: 0
		width: 100%
	&--description
		max-width: 500px
		width: auto
		margin-bottom: 40px
		h3
			font-size: em(20px)
			font-weight: 600
			color: $turquoiseS
			margin-bottom: 10px
	&.easy
		.difficulty
			background-color: $greenL
	&.medium
		.difficulty
			background-color: $turquoiseS
	&.hard
		.difficulty
			background-color: $pinkXL

// Слайдер
.slider-section
	.quiz__item
		max-width: none

// My Quizess Page
.quizess
	.quiz__item
		margin: 0 20px 20px 0

// Quiz Info Page
.quiz-info
	.quiz__item
		margin-bottom: 40px

// 
.quiz-gradient-bg
	background: $turquoiseM
	background: linear-gradient(to top, #79c4d8 0%, #448da5 65.69%, #4899b5 100%)

// Сам квиз
.quiz
	display: flex
	justify-content: center
	flex-wrap: wrap
	align-items: center
	color: $white
	&-wrap
	&-meta
		display: flex
		align-items: center
		&-item
			display: flex
			align-items: center
			margin: 0 18px
			opacity: 0.8
			img
				width: 42px
				height: 42px
				object-fit: cover
				object-position: center
				margin-right: 10px
			strong
				display: block
				font-size: em(20px)
				font-weight: bold
				line-height: 1
			small
				font-size: em(12px)
				font-weight: 500