.sidebar
	background-color: $turquoiseXL
	position: fixed
	top: 0
	left: 0
	bottom: 0
	overflow-x: hidden
	z-index: 0
	width: 70px
	transition: width .1s
	padding: 15px 20px 25px
	@media (max-width: 992px)
		top: 66px
		bottom: auto
		width: 100%
		height: 66px
		overflow: hidden
		padding-top: 8px

	hr
		display: none
	&.open
		width: 260px
		@media (max-width: 992px)
			width: 100%
			height: calc(100vh - 66px)
			overflow-y: auto
		hr
			display: block
	&::-webkit-scrollbar 
		width: 4px
	&::-webkit-scrollbar-track 
		box-shadow: none
	&::-webkit-scrollbar-thumb 
		background-color: rgba($turquoiseXS, .1)
	&-footer
		text-align: center
		.btn
			margin-bottom: 30px
			display: none
	&-logo
		display: block
		text-align: center
		img
			height: auto
			display: inline-block
			&:first-child
				width: 90px
				display: none
			&:last-child
				width: 30px

.sidebar-btn
	width: 50px
	height: 50px
	background-color: transparent
	border: none
	cursor: pointer
	position: absolute
	right: 7px
	top: 0
	outline: none
	transition: all .04s
	&:focus
		outline: none
	@media (max-width: 992px)
		top: 7px
	span
		width: 25px
		height: 2px
		background-color: #fff
		display: block
		margin: 4px auto
		transform: rotate(0)
		opacity: 1
		transition: all .1s
	&.active
		right: -10px
		top: -10px
		@media (max-width: 992px)
			right: 7px
			top: 7px
		&:hover
			span
				opacity: 0.8
		span
			width: 15px
			opacity: 0.5
			@media (max-width: 992px)
				width: 25px
				opacity: 1
			&:first-child
				transform: rotate(45deg)
				position: relative
				top: 6px
			&:nth-child(2)
				opacity: 0
			&:last-child
				transform: rotate(-45deg)
				position: relative
				top: -6px
