.user
	display: flex
	align-items: center
	color: $white
	margin-bottom: 30px
	&__photo
		background-color: #ccc
		border-radius: 100%
		overflow: hidden
		margin-right: 25px
		flex: 1 0 70px
		height: 70px
		img
			width: 100%
			height: auto
			object-fit: cover
			object-position: center
	&__name
		font-weight: 600
		font-size: em(17px)
		line-height: em(22px)
	&__pos
		font-weight: 400
		font-size: em(15px)