.user
	&__menu
		padding-top: 25px
		margin-bottom: 50px
		@media (max-width: 992px)
			padding-top: 0
		ul
			padding: 0
			margin: 0
			list-style-type: none
			a
				color: $white
				font-size: em(20px)
				font-weight: 600
				display: flex
				align-items: center
				padding: 8px 0
				white-space: nowrap
				&:hover
					img
						transform: scale(1.3)
		&-icon
			flex: 0 0 25px
			height: 25px
			margin-right: 25px
			display: flex
			justify-content: center
			align-items: center
			img
				max-width: 100%
				height: auto
				transition: all .25s ease-in-out

.user__menu--row
	display: block
	a
		font-size: em(11px) !important
		font-weight: 400 !important
		@media (max-width: 992px)
			font-size: em(20px) !important
			font-weight: 600 !important
		.user__menu-icon
			margin-right: 0
			margin-bottom: 0
			@media (max-width: 992px)
				margin-right: 25px
		.user__menu-title
			display: none
			@media (max-width: 992px)
				display: block

.sidebar.open
	.user
		&__menu
			padding-top: 0
			&--row
				display: flex
				justify-content: space-between
				@media (max-width: 992px)
					display: block
				a
					flex-direction: column
					text-align: center
					@media (max-width: 992px)
						flex-direction: row
						text-align: left
					.user__menu-icon
						margin-bottom: 8px
						@media (max-width: 992px)
							margin-bottom: 0
					.user__menu-title
						display: block
						@media (max-width: 992px)
							display: inline-block

