.subscriptions-menu-title{
	font-size: 12px;
	color: $color_primary_darkest;
}

.menu-link-with-icon{
	border: 2px solid transparent;
	transition: all .2s ease;
	position: relative;
	&:hover, &.active{
		border-color: $primary_light;
	}
	&:after{
		content: '\203A';
		display: inline-block;
		position: absolute;
		right: 16px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 24px;
	}
}

.menu-link-with-icon img{
	flex: 0 0 56px;
	height: 100%;
	object-fit: cover;
	padding: 0;
}

.link-text{
	flex: 1 0 0%;
}

.link-text h5{
	font-size: 16px;
}

.link-text p{
	font-size: 12px;
	margin-bottom: 0;
}