button.btn-close {
	width: 24px;
	height: 24px;
	border:none;
	background-color: initial;
	right: 28px;
	top: 50%;
	transform: translateY(-50%);
	background-image: url(../images/dist/icons/close.svg);
	background-size: 14px 14px;
	background-position: center;
	background-repeat: no-repeat;
}