.user-card{
	.card-title{
		line-height: 1;
	}
	.card-text{
		line-height: 1;
		color: $color_primary_darkest;
	}
}

.custom-card-img{
	img{
		width: 65px;
		height: 65px;
		border-radius: 50%;
		object-fit: cover;
		object-position: center;
	}
}


.progress{
	background-color: $color_primary_dark;
	border-radius: 10px;
}

.progress-label{
	font-size: $fontsize;
	color: $color_primary_darkest;
}

.progress-bar{
	background-color: $primary_lightest;
	border-radius: 10px;
}