<div class="quiz__item easy">
	<div class="quiz__item--img">
		<img src="{{ 'img/quiz.jpg' | relative_url }}" alt="ALT">
		<div class="difficulty">Easy</div>
	</div>
	<div class="quiz__item--content">
		<a href="/newtonteach.me/quiz-info/" class="quiz__item--title">New Quiz For Kids</a>
		<p class="quiz__item--text">New way to check history signs and how to see different between book and story New way to check history signs and how to see different </p>
		<div class="quiz__item--meta">1.1 M views  ·  8 month ago</div>
	</div>
</div>

<div class="quiz__item medium">
	<div class="quiz__item--img">
		<img src="{{ 'img/quiz.jpg' | relative_url }}" alt="ALT">
		<div class="difficulty">Medium</div>
	</div>
	<div class="quiz__item--content">
		<a href="/newtonteach.me/quiz-info/" class="quiz__item--title">New Quiz For Kids</a>
		<p class="quiz__item--text">New way to check history signs and how to see different between book and story New way to check history signs and how to see different </p>
		<div class="quiz__item--meta">1.1 M views  ·  8 month ago</div>
	</div>
</div>

<div class="quiz__item hard">
	<div class="quiz__item--img">
		<img src="{{ 'img/quiz.jpg' | relative_url }}" alt="ALT">
		<div class="difficulty">Hard</div>
	</div>
	<div class="quiz__item--content">
		<a href="/newtonteach.me/quiz-info/" class="quiz__item--title">New Quiz For Kids</a>
		<p class="quiz__item--text">New way to check history signs and how to see different between book and story New way to check history signs and how to see different </p>
		<div class="quiz__item--meta">1.1 M views  ·  8 month ago</div>
	</div>
</div>

<div class="quiz__item easy">
	<div class="quiz__item--img">
		<img src="{{ 'img/quiz.jpg' | relative_url }}" alt="ALT">
		<div class="difficulty">Easy</div>
	</div>
	<div class="quiz__item--content">
		<a href="/newtonteach.me/quiz-info/" class="quiz__item--title">New Quiz For Kids</a>
		<p class="quiz__item--text">New way to check history signs and how to see different between book and story New way to check history signs and how to see different </p>
		<div class="quiz__item--meta">1.1 M views  ·  8 month ago</div>
	</div>
</div>

<div class="quiz__item medium">
	<div class="quiz__item--img">
		<img src="{{ 'img/quiz.jpg' | relative_url }}" alt="ALT">
		<div class="difficulty">Medium</div>
	</div>
	<div class="quiz__item--content">
		<a href="/newtonteach.me/quiz-info/" class="quiz__item--title">New Quiz For Kids</a>
		<p class="quiz__item--text">New way to check history signs and how to see different between book and story New way to check history signs and how to see different </p>
		<div class="quiz__item--meta">1.1 M views  ·  8 month ago</div>
	</div>
</div>

<div class="quiz__item hard">
	<div class="quiz__item--img">
		<img src="{{ 'img/quiz.jpg' | relative_url }}" alt="ALT">
		<div class="difficulty">Hard</div>
	</div>
	<div class="quiz__item--content">
		<a href="/newtonteach.me/quiz-info/" class="quiz__item--title">New Quiz For Kids</a>
		<p class="quiz__item--text">New way to check history signs and how to see different between book and story New way to check history signs and how to see different </p>
		<div class="quiz__item--meta">1.1 M views  ·  8 month ago</div>
	</div>
</div>