<div class="video__item slider__item slider__item--with-meta">
	<a href="/video-class/" class="slider__item--img">
		<img src="{{ 'img/sliders/video/1.jpg' | relative_url }}" alt="ALT">
	</a>
	<div class="slider__item--content">
		<a href="/video-class/" class="slider__item--title">New Quiz For Kids</a>
		<p class="slider__item--text">New way to check history signs and how to see</p>
		<div class="slider__item--meta">1.1 M views  ·  8 month ago</div>
	</div>
	<div class="ui_actions_menu_icon"></div>
	<div class="ui_actions_menu">
		<a href="javascript:void(0)" class="ui_actions_menu_item">Действие 1</a>
		<a href="javascript:void(0)" class="ui_actions_menu_item">Действие 2</a>
		<a href="javascript:void(0)" class="ui_actions_menu_item">Действие 3</a>
		<a href="javascript:void(0)" class="ui_actions_menu_item">Действие 4</a>
	</div>
</div>