<div class="school-card card">
	<div class="card-body">
		<div class="info-row-with-image d-flex align-items-center">
			<div class="avatar overflow-hidden mr-16">
				<img src="{{ '/img/educator/school-avatar.png' }}" class="rounded-circle school-avatar" alt="School">
			</div>
			<div class="info-row-text">
				<h5 class="mb-1 lh-1"><a href="#" class="name fw-semibold lh-1">California Elementary</a></h5>
				<span class="descr fw-nornal small-text d-block">3232 California St, Costa Mesa, CA 92626</span>
			</div>
		</div>
	</div>
</div>