<div class="help-block color-primary-lighter-bg py-4">

	<div class="d-flex">
		<div class="px-3 flex-grow-0 flex-shrink-1">
			<div class="info-row-with-image d-flex align-items-center mb-24">
				<div class="avatar overflow-hidden mr-16">
					<img src="{{ '/newtonteach.me/img/educator/user/sergey.png' }}" class="rounded-circle user-avatar" alt="Sergey Kondukov">
				</div>
				<div class="info-row-text">
					<h5 class="mb-0"><a href="#" class="name">Sergey Kondukov</a></h5>
					<span class="descr color-primary-darkest fw-nornal fz-normal text-nowrap">CEO - Newton Teach Me</span>
				</div>
			</div>

			{%- include components/social-list.html -%}

			<p class="small-text color-primary-darkest mt-24">If you want to help us or work with us, please contact me by any folowing chanels.<br> I will be happy to answer any questions and get your feedback.</p>
		</div>

		<div class="pe-3 flex-grow-0 flex-shrink-1">
			<h4 class="mb-3 fw-semibold">Help us to launch quicker. Pay $4.99 now and save $93 in future</h4>
			<p class="mb-16">Thank you for your interest in our platform. We are working hard to create a great tool for teachers and students to improve education around the world and help teachers with their difficult work.
			<p class="mb-16">At the moment we have a small team of 5 people and we are preparing to attract investments to increase the team and speed up the development of the platform. You can help us in attracting investments by showing interest in our platform and share the link with your colleagues. </p>
			<p class="mb-16">If you think that the platform will be useful for you and your students, you can pay a small amount of <span class="secondary_dark fw-semibold">$4.99</span> and after launch you will get 2 months of premium account with a <span class="color_green_lighter fw-semibold">$93&nbsp;discount</span> or One Year Premium for <span class="secondary_dark fw-semibold">$59.99</span> with <span class="color_green_lighter fw-semibold">$430&nbsp;discount.</span> You can get your money back any time before the launch by simply Email us.</p>
			<p class="mb-16">This small amount will help us to understand that we are going the right way and will help us in our investment round for development.</p>
		</div>

	</div>	

</div>