<div class="features-block py-5">
	<div class="features-title text-center mb-5">
		<h1 class="mb-24">Our Features</h1>
		<h4 class="color-primary-darkest fw-normal">Learn more about the features of the Newton Teach Me platform.</h4>
	</div>
	<div class="row px-5">

		<div class="col-6">
			<div class="card mb-24">
				<a href="#"><img src="https://via.placeholder.com/472x264" class="card-img-top rounded-3 w-100 mb-16" alt="..."></a>
				<h4 class="card-title"><a href="#">Article title</a></h4>
				<p class="card-text color-primary-darkest">article.description (2 строки. Если не поместилось то ...)</p>
			</div>
		</div>

		<div class="col-6">
			<div class="card mb-24">
				<a href="#"><img src="https://via.placeholder.com/472x264" class="card-img-top rounded-3 w-100 mb-16" alt="..."></a>
				<h4 class="card-title"><a href="#">Article title</a></h4>
				<p class="card-text color-primary-darkest">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
		</div>

		<div class="col-6">
			<div class="card mb-24">
				<a href="#"><img src="https://via.placeholder.com/472x264" class="card-img-top rounded-3 w-100 mb-16" alt="..."></a>
				<h4 class="card-title"><a href="#">Article title</a></h4>
				<p class="card-text color-primary-darkest">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
		</div>

		<div class="col-6">
			<div class="card mb-24">
				<a href="#"><img src="https://via.placeholder.com/472x264" class="card-img-top rounded-3 w-100 mb-16" alt="..."></a>
				<h4 class="card-title"><a href="#">Article title</a></h4>			
				<p class="card-text color-primary-darkest">article.description (2 строки. Если не поместилось то ...)</p>
			</div>
		</div>

		<div class="col-6">
			<div class="card mb-24">
				<a href="#"><img src="https://via.placeholder.com/472x264" class="card-img-top rounded-3 w-100 mb-16" alt="..."></a>
				<h4 class="card-title"><a href="#">Article title</a></h4>
				<p class="card-text color-primary-darkest">article.description (2 строки. Если не поместилось то ...)</p>
			</div>
		</div>

		<div class="col-6">
			<div class="card mb-24">
				<a href="#"><img src="https://via.placeholder.com/472x264" class="card-img-top rounded-3 w-100 mb-16" alt="..."></a>
				<h4 class="card-title"><a href="#">Article title</a></h4>
				<p class="card-text color-primary-darkest">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
		</div>

	</div>
</div>