<div class="welcome-block bg-top bg-right" style="background-image: url( {{'/newtonteach.me/img/educator/welcome-card-bg.svg'}} );">
	<div class="w-50 d-flex align-items-center h-100 ps-4">
		<div class="welcome-text">
			<h3 class="mb-3">Welcome to Newton Teach Me</h3>
			<p class="big-text lh-sm m-0">Our platform is currently under development. We do our best to complete the development as soon as possible. You can explore all the future functions of our platform and get a Premium account with a 90% plus discount.</p>
		</div>
	</div>
</div>