<div class="col-12">
	<div class="card mb-3">
		<div class="card-body">
			<h3 class="card-title mb-3">FORMS</h3>
			<div class="row">
				<div class="col">
					<h4 class="color-primary-darkest fw-normal">SELECTOR</h4>
					<hr>

					<label class="selector-button d-block mb-3">
						<input type="radio" name="selector" class="w-0 h-0 position-absolute invisible">
						<span class="d-flex align-items-center justify-content-center color-primary-darkest color-primary-lighter-bg rounded-3 fz-normal lh-1">Selector</span>
					</label>

					<label class="selector-button disabled">
						<input type="radio" name="selector" class="w-0 h-0 position-absolute invisible" disabled>
						<span class="d-flex align-items-center justify-content-center color-primary-darkest color-primary-lighter-bg rounded-3 fz-normal lh-1">Selector disabled</span>
					</label>

				</div>
				<div class="col">
					<h4 class="color-primary-darkest fw-normal">FIELDS</h4>
					<hr>

					<div class="newton-form-group d-flex flex-column-reverse color-primary-lighter-bg rounded-3 color-primary-darkest fz-normal lh-1 position-relative mb-3">
						<input type="text" id="text" class="bg-transparent rounded-3 h-100 w-100 px-3 pt-4 pb-2" placeholder=" ">
						<label for="text" class="position-absolute">Input</label>
					</div>

					<div class="newton-form-group d-flex flex-column-reverse color-primary-lighter-bg rounded-3 color-primary-darkest fz-normal lh-1 position-relative required mb-3">
						<input type="text" id="text2" class="bg-transparent rounded-3 h-100 w-100 px-3 pt-4 pb-2" placeholder=" " required>
						<label for="text2" class="d-flex align-items-center position-absolute">Input required <span class="error-message ms-2">Error message</span></label>
					</div>

					<div class="newton-form-group d-flex flex-column-reverse color-primary-lighter-bg rounded-3 color-primary-darkest fz-normal lh-1 position-relative disabled">
						<input type="text" id="text3" class="bg-transparent rounded-3 h-100 w-100 px-3 pt-4 pb-2" placeholder=" " disabled>
						<label for="text3" class="position-absolute">Input disabled</label>
					</div>

				</div>
				<div class="col">
					<h4 class="color-primary-darkest fw-normal">DROP-DOWN LIST</h4>
					<hr>

					<div class="new-dropdown newton-form-group color-primary-lighter-bg rounded-3 position-relative mb-3">
						<input type="hidden" name="dropdown" class="new-dropdown-input" value="">
						<button type="button" class="p-0 bg-transparent w-100 h-100 color-primary-darkest fz-normal lh-1 rounded-3 position-relative border-0">						
							<span class="new-dropdown-label position-absolute">Dropdown</span>
							<span class="new-dropdown-value position-absolute color_primary_light"></span>
							<span class="new-dropdown-arrow position-absolute top-50"><img src="{{'/img/icons/arrow-down.svg' | relative_url}}" alt="Down"></span>
						</button>
						<div class="new-dropdown-list position-absolute w-100 start-0 top-100 rounded-3 px-3 bg-white">
							<ul class="p-0 py-1 m-0">
								<li class="new-dropdown-item py-2 color-primary-darkest fz-normal lh-1" data-value="Value 1">Value 1</li>
								<li class="new-dropdown-item py-2 color-primary-darkest fz-normal lh-1" data-value="Value 2">Value 2</li>
								<li class="new-dropdown-item py-2 color-primary-darkest fz-normal lh-1" data-value="Value 3">Value 3</li>
								<li class="new-dropdown-item py-2 color-primary-darkest fz-normal lh-1" data-value="Value 4">Value 4</li>
							</ul>
						</div>
					</div>

					<div class="new-dropdown new-dropdown-multi newton-form-group color-primary-lighter-bg rounded-3 position-relative mb-3">
						<input type="hidden" name="dropdown" class="new-dropdown-input" value="">
						<button type="button" class="p-0 bg-transparent w-100 h-100 color-primary-darkest fz-normal lh-1 rounded-3 position-relative border-0">						
							<span class="new-dropdown-label position-absolute">Dropdown multi</span>
							<span class="new-dropdown-value position-absolute color_primary_light"></span>
							<span class="new-dropdown-arrow position-absolute top-50"><img src="{{'/img/icons/arrow-down.svg' | relative_url}}" alt="Down"></span>
						</button>
						<div class="new-dropdown-list position-absolute w-100 start-0 top-100 rounded-3 px-3 bg-white">
							<ul class="p-0 py-1 m-0">
								<li class="new-dropdown-item py-2 color-primary-darkest fz-normal lh-1" data-value="Value 1">
									<span class="new-label">
										<input type="checkbox">
										<span class="new-checkbox-radio new-primary new-checkbox"></span>
										<span class="new-checkbox-radio-text fz-normal gray-color">Value 1</span>
									</span>							
								</li>
								<li class="new-dropdown-item py-2 color-primary-darkest fz-normal lh-1" data-value="Value 2">
									<span class="new-label">
										<input type="checkbox">
										<span class="new-checkbox-radio new-primary new-checkbox"></span>
										<span class="new-checkbox-radio-text fz-normal gray-color">Value 2</span>
									</span>
								</li>
								<li class="new-dropdown-item py-2 color-primary-darkest fz-normal lh-1" data-value="Value 3">
									<span class="new-label">
										<input type="checkbox">
										<span class="new-checkbox-radio new-primary new-checkbox"></span>
										<span class="new-checkbox-radio-text fz-normal gray-color">Value 3</span>
									</span>
								</li>
								<li class="new-dropdown-item py-2 color-primary-darkest fz-normal lh-1" data-value="Value 4">
									<span class="new-label">
										<input type="checkbox">
										<span class="new-checkbox-radio new-primary new-checkbox"></span>
										<span class="new-checkbox-radio-text fz-normal gray-color">Value 4</span>
									</span>
								</li>
							</ul>
						</div>
					</div>

					<div class="new-dropdown newton-form-group color-primary-lighter-bg rounded-3 position-relative mb-3 disabled">
						<input type="hidden" name="dropdown" class="new-dropdown-input" value="Dropdown disabled">
						<button type="button" class="p-0 bg-transparent w-100 h-100 color-primary-darkest fz-normal lh-1 rounded-3 position-relative border-0" disabled>						
							<span class="new-dropdown-label position-absolute">Dropdown disabled</span>
							<span class="new-dropdown-arrow position-absolute top-50"><img src="{{'/img/icons/arrow-down.svg' | relative_url}}" alt="Down"></span>
						</button>
					</div>
					

				</div>
			</div>
			<!-- /.row -->
		</div>
	</div>
</div>