<div class="col-12">
	<div class="card mb-3">
		<div class="card-body">
			<h3 class="card-title">MOLECULES</h3>
			<div class="row">
				<div class="col-2">
					<a href="#" class="default-link gray-color">Default Link</a><br>
					<a href="#" class="default-link gray-color active">Active Link</a><br>
					<a href="#" class="default-link gray-color disabled">Disabled Link</a>
				</div>
				<div class="col-3">
					<label class="new-label">
						<input type="checkbox">
						<span class="new-checkbox-radio new-primary new-checkbox"></span>
						<span class="new-checkbox-radio-text fz-normal gray-color">Newton checkbox</span>
					</label>
					<label class="new-label">
						<input type="checkbox">
						<span class="new-checkbox-radio new-primary new-radio"></span>
						<span class="new-checkbox-radio-text fz-normal gray-color">Newton radio</span>
					</label>
					<label class="new-label disabled">
						<input type="checkbox" checked disabled>
						<span class="new-checkbox-radio new-primary new-checkbox"></span>
						<span class="new-checkbox-radio-text fz-normal gray-color">Newton checkbox - disabled</span>
					</label>
					<label class="new-label disabled">
						<input type="checkbox" checked disabled>
						<span class="new-checkbox-radio new-primary new-radio"></span>
						<span class="new-checkbox-radio-text fz-normal gray-color">Newton radio - disabled</span>
					</label>
				</div>
			</div>
			<!-- /.row -->
		</div>
	</div>
</div>