<div class="col-12">
	<div class="card mb-3">
		<div class="card-body">
			<h5 class="card-title">TYPOGRAPHY</h5>
			<div class="row">
				<div class="col-4">
					<h1 class="gray-color">H1 - Bold</h1>
					<h1 class="gray-color fw-semibold">H1 - Semibold</h1>
					<h1 class="gray-color fw-normal">H1 - Regular</h1>
				</div>
				<!-- /.col-4 -->
				<div class="col-4">
					<h2 class="gray-color">H2 - Bold</h1>
					<h2 class="gray-color fw-semibold">H2 - Semibold</h2>
					<h2 class="gray-color fw-normal">H2 - Regular</h2>
				</div>
				<!-- /.col-4 -->
				<div class="col-4">
					<h3 class="gray-color">H3 - Bold</h3>
					<h3 class="gray-color fw-semibold">H3 - Semibold</h3>
					<h3 class="gray-color fw-normal">H3 - Regular</h3>
				</div>
				<!-- /.col-4 -->
				<div class="col-4 mt-4">
					<h4 class="gray-color">H4 - Bold</h4>
					<h4 class="gray-color fw-semibold">H4 - Semibold</h4>
					<h4 class="gray-color fw-normal">H4 - Regular</h4>
				</div>
				<!-- /.col-4 -->
				<div class="col-4 mt-4">
					<h5 class="gray-color">H5 - Bold</h5>
					<h5 class="gray-color fw-semibold">H5 - Semibold</h5>
					<h5 class="gray-color fw-normal">H5 - Regular</h5>
				</div>
				<!-- /.col-4 -->
				<div class="col-4 mt-4">
					<h6 class="gray-color">H6 - Bold</h6>
					<h6 class="gray-color fw-semibold">H6 - Semibold</h6>
					<h6 class="gray-color fw-normal">H6 - Regular</h6>
				</div>
				<!-- /.col-4 -->
			</div>
			<!-- /.row -->
			<p>Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Quisquam, ducimus.</p>
			<p class="gray-color">Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Quisquam, ducimus.</p>
			<p class="small-text">Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Quisquam, ducimus.</p>
			<p class="small-text gray-color">Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Quisquam, ducimus.</p>
		</div>
	</div>
</div>