<div class="read-next px-5">
	<h2 class="mb-24">Read next</h2>
	<div class="row">
		<div class="col-6">
			<div class="card mb-24">
				<a href="#"><img src="{{ '/img/articles/quizzes/art1.jpg' | relative_url }}" class="card-img-top rounded-3 w-100 mb-16" alt="create great quiz"></a>
				<h4 class="card-title"><a href="#">How to create great quiz</a></h4>
				<p class="card-text color-primary-darkest">Learn how easy it is to create great quizzes and how to choose the right difficulty level.</p>
			</div>
		</div>

		<div class="col-6">
			<div class="card mb-24">
				<a href="#"><img src="{{ '/img/articles/quizzes/art2.jpg' | relative_url }}" class="card-img-top rounded-3 w-100 mb-16" alt="create great presentations"></a>
				<h4 class="card-title"><a href="#">How to create great presentations</a></h4>
				<p class="card-text color-primary-darkest">Learn how easy it is to create and download presentations on any subjects.</p>
			</div>
		</div>
	</div>
</div>