<div class="col-12">
	<div class="card mb-3">
	<h1 class="text-center mt-3 mb-2">SiteMap</h1>
		<div class="card-body">
			<div class="d-flex">
				{% assign sorted = site.collections | sort: 'id' %}
				{% for item in sorted %}
				{% if item.collection %}
				<div class="col">
					<h4 class="mb-3">{{ item.collection }}</h4>
					<ul>
						{% assign links = item.docs | reverse %}
						{% for elem in links %}
						<li>
							<a href="/newtonteach.me{{ elem.url }}" target="_blank">{{ elem.title }}</a>
						</li>
						{% endfor %}							
					</ul>
				</div>
				{% endif %}				
				{% endfor %}
			</div>			
		</div>
	</div>
</div>