<div class="social-list d-inline-flex">
	<a href="#" class="social-link d-flex align-items-center justify-content-center color-primary-lightest-bg me-1">
		<img src="{{'/img/icons/twitter.svg' | relative_url}}" alt="" class="social-icon">
	</a>
	<a href="#" class="social-link d-flex align-items-center justify-content-center color-primary-lightest-bg me-1">
		<img src="{{'/img/icons/fb.svg' | relative_url}}" alt="" class="social-icon">
	</a>
	<a href="#" class="social-link d-flex align-items-center justify-content-center color-primary-lightest-bg me-1">
		<img src="{{'/img/icons/linkedin.svg' | relative_url}}" alt="" class="social-icon">
	</a>
	<a href="#" class="social-link d-flex align-items-center justify-content-center color-primary-lightest-bg me-1">
		<img src="{{'/img/icons/email.svg' | relative_url}}" alt="" class="social-icon">
	</a>
	<a href="#" class="social-link d-flex align-items-center justify-content-center color-primary-lightest-bg">
		<img src="{{'/img/icons/whatsapp.svg' | relative_url}}" alt="" class="social-icon">
	</a>
</div>