<div class="card user-card mb-3">
	<div class="card-body">

		<div class="info-row-with-image d-flex align-items-center mb-24">
			<div class="avatar overflow-hidden mr-16">
				<img src="https://via.placeholder.com/64" class="rounded-circle user-avatar" alt="USER">
			</div>
			<div class="info-row-text">
				<h5 class="mb-0"><a href="#" class="name">Kathryn Murphy</a></h5>
				<span class="descr color-primary-darkest fw-nornal fz-normal">Teacher</span>
			</div>
		</div>

		<div class="info-row-with-icon d-flex align-items-center justify-content-between mb-16">
			<div class="info-row-with-icon-left d-flex align-items-center">
				<img src="{{ '/newtonteach.me/img/educator/icons/people.svg' }}" class="info-row-icon mr-16" alt="Followers">
				<h5 class="mb-0 lh-1 fw-normal">Followers</h5>
			</div>
			<div class="info-row-with-icon-rigth color-primary-darkest">
				<p class="mb-0">-</p>
			</div>
		</div>
		<div class="info-row-with-icon d-flex align-items-center justify-content-between mb-16">
			<div class="info-row-with-icon-left d-flex align-items-center">
				<img src="{{ '/newtonteach.me/img/educator/icons/college-graduation-2.svg' }}" class="info-row-icon mr-16" alt="Items quantity">
				<h5 class="mb-0 lh-1 fw-normal">Items quantity</h5>
			</div>
			<div class="info-row-with-icon-rigth color-primary-darkest">
				<p class="mb-0">-</p>
			</div>
		</div>
		<div class="info-row-with-icon d-flex align-items-center justify-content-between mb-16">
			<div class="info-row-with-icon-left d-flex align-items-center">
				<img src="{{ '/newtonteach.me/img/educator/icons/star.svg' }}" class="info-row-icon mr-16" alt="Rating">
				<h5 class="mb-0 lh-1 fw-normal">Rating</h5>
			</div>
			<div class="info-row-with-icon-rigth color-primary-darkest">
				<p class="mb-0">-</p>
			</div>
		</div>
		<div class="info-row-with-icon d-flex align-items-center justify-content-between mb-16">
			<div class="info-row-with-icon-left d-flex align-items-center">
				<img src="{{ '/newtonteach.me/img/educator/icons/access_time.svg' }}" class="info-row-icon mr-16" alt="Experience">
				<h5 class="mb-0 lh-1 fw-normal">Experience</h5>
			</div>
			<div class="info-row-with-icon-rigth color-primary-darkest">
				<p class="mb-0">12 Yrs</p>
			</div>
		</div>
		<div class="info-row-with-icon d-flex align-items-center justify-content-between mb-16">
			<div class="info-row-with-icon-left d-flex align-items-center">
				<img src="{{ '/newtonteach.me/img/educator/icons/public.svg' }}" class="info-row-icon mr-16" alt="Language">
				<h5 class="mb-0 lh-1 fw-normal">Language</h5>
			</div>
			<div class="info-row-with-icon-rigth color-primary-darkest">
				<p class="mb-0">English, Russian</p>
			</div>
		</div>
		<div class="info-row-with-icon d-flex align-items-center justify-content-between mb-24">
			<div class="info-row-with-icon-left d-flex align-items-center">
				<img src="https://via.placeholder.com/24" class="rounded-circle info-row-icon mr-16" alt="USER">
				<h5 class="mb-0 lh-1 fw-normal"><a href="#">Kathryn Murphy</a></h5>
			</div>
			<div class="info-row-with-icon-rigth color-primary-darkest">
				<p class="mb-0">Teacher</p>
			</div>
		</div>

		<a href="#" class="btn btn-small color-primary-lighter-bg color-primary-darkest w-100">Edit</a>

	</div>

</div>