<div id="welcome-slider" class="welcome-slider text-center mx-auto">
	<div class="welcome-slide">
		<img src="{{ '/img/sliders/welcome-slider/1.svg' | relative_url }}" class="welcome-slide-img mx-auto mb-4" alt="ALT">
		<h4 class="fw-semibold">The best tool for teachers to raise the level of student involvement in learning</h4>
	</div>
	<div class="welcome-slide">
		<img src="{{ '/img/sliders/welcome-slider/2.svg' | relative_url }}" class="welcome-slide-img mx-auto mb-4" alt="ALT">
		<h4 class="fw-semibold">Statistics reports allow you to better understand the knowledge level of your student and fix <br>individual program</h4>
	</div>
	<div class="welcome-slide">
		<img src="{{ '/img/sliders/welcome-slider/3.svg' | relative_url }}" class="welcome-slide-img mx-auto mb-4" alt="ALT">
		<h4 class="fw-semibold">Quizzes, Video Lessons, Presentations, <br>and all students need for education</h4>
	</div>
	<div class="welcome-slide">
		<img src="{{ '/img/sliders/welcome-slider/4.svg' | relative_url }}" class="welcome-slide-img mx-auto mb-4" alt="ALT">
		<h4 class="fw-semibold">Application for parents with statistic reports <br>and chat with teacher</h4>
	</div>
	<div class="welcome-slide">
		<img src="{{ '/img/sliders/welcome-slider/5.svg' | relative_url }}" class="welcome-slide-img mx-auto mb-4" alt="ALT">
		<h4 class="fw-semibold">Curriculum marketplace allow any teacher <br>sell their Quizzes, Video Lessons, <br>Presentations and Files</h4>
	</div>
</div>

<div class="py-3 position-absolute start-0 bottom-0 w-100">				
	<div id="new-dots" class="new-dots"></div>
</div>