<div class="card mb-3">			
	<div class="card-body py-0">
		<div class="widget-area-menu">
			<a href="/newtonteach.me/settings/personal-info/" class="default-link color-primary-darkest d-flex align-items-center justify-content-between py-3 border-bottom active">Personal Info
				<img src="{{ '/img/icons/arrow-right.svg' | relative_url }}" alt="ALT" class="img-svg">
			</a>
			<a href="/newtonteach.me/settings/security/" class="default-link color-primary-darkest d-flex align-items-center justify-content-between py-3 border-bottom">Security & Privacy
				<img src="{{ '/img/icons/arrow-right.svg' | relative_url }}" alt="ALT" class="img-svg">
			</a>
			<a href="javascript:void(0)" class="default-link color-primary-darkest d-flex align-items-center justify-content-between py-3 border-bottom disabled">Parents
				<img src="{{ '/img/icons/arrow-right.svg' | relative_url }}" alt="ALT" class="img-svg">
			</a>
			<a href="javascript:void(0)" class="default-link color-primary-darkest d-flex align-items-center justify-content-between py-3 disabled">Subsriptions
				<img src="{{ '/img/icons/arrow-right.svg' | relative_url }}" alt="ALT" class="img-svg">
			</a>
		</div>
	</div>
</div>

<div class="card mb-3">			
	<div class="card-body py-0">
		<div class="widget-area-menu">
			<a href="javascript:void(0)" class="default-link color-primary-darkest d-flex align-items-center justify-content-between py-3 disabled">Payment Method
				<img src="{{ '/img/icons/arrow-right.svg' | relative_url }}" alt="ALT" class="img-svg">
			</a>
			<a href="javascript:void(0)" class="default-link color-primary-darkest d-flex align-items-center justify-content-between py-3 disabled">Tax Information
				<img src="{{ '/img/icons/arrow-right.svg' | relative_url }}" alt="ALT" class="img-svg">
			</a>
			<a href="javascript:void(0)" class="default-link color-primary-darkest d-flex align-items-center justify-content-between py-3 disabled">Idetity Verification
				<img src="{{ '/img/icons/arrow-right.svg' | relative_url }}" alt="ALT" class="img-svg">
			</a>
		</div>
	</div>
</div>

<div class="card mb-3">			
	<div class="card-body py-0">
		<div class="widget-area-menu">
			<a href="javascript:void(0)" class="default-link color-primary-darkest d-flex align-items-center justify-content-between py-3 disabled">Help & Feedback
				<img src="{{ '/img/icons/arrow-right.svg' | relative_url }}" alt="ALT" class="img-svg">
			</a>
			<a href="https://newtonteach.me/about" class="default-link color-primary-darkest d-flex align-items-center justify-content-between py-3 border-bottom">About Us
				<img src="{{ '/img/icons/arrow-right.svg' | relative_url }}" alt="ALT" class="img-svg">
			</a>
		</div>
	</div>
</div>

<div class="card">			
	<div class="card-body py-0">
		<div class="widget-area-menu">
			<a href="https://newtonteach.me/" class="default-link color_danger_light d-flex align-items-center justify-content-between py-3 border-bottom">Log Out</a>
		</div>
	</div>
</div>