<div class="card user-card mb-3">
	<div class="card-body">
		<div class="d-flex flex-nowrap align-items-center mx-0 mb-3">
			<div class="user-avatar custom-card-img me-3">
				<img src="/images/dist/user.png" alt="">
			</div>
			<div class="user-info">
				<h4 class="card-title mb-1">Jessica McCaffrey</h4>
				<p class="card-text"><small>5th Grade Student</small></p>
			</div>
		</div>
		<!-- /.row -->

		<div class="progress-wrap">
			<div class="progress-label d-flex justify-content-between mb-2 text-uppercase">
				<span>50 / 100 xp</span>
				<span>12 lvl</span>
			</div>
			<!-- /.progress-label -->
			<div class="progress" style="height: 20px;">
				<div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
		</div>
		<!-- /.progress-wrap -->

	</div>
</div>