.btn
	font-size: em(15px)
	font-weight: 600
	color: $turquoiseM
	border-radius: 30px
	position: relative
	padding: 10px 25px
	border: 2px solid transparent
	display: inline-block
	cursor: pointer
	transition: all .25s ease
	&:disabled
		cursor: not-allowed
		opacity: 0.7
	&.with-icon
		color: $white
		position: relative
		box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16)
		min-width: 270px
		height: 72px
		padding: 0 25px
		margin-right: 16px
		margin-bottom: 15px
		display: flex
		align-items: center
		justify-content: center
		border-radius: 50px
		font-size: em(17px)
		font-weight: normal
		overflow: hidden
		border: none
		+media-breakpoint-down(sm)
			min-width: 48%
			margin-right: 2%
		+media-breakpoint-down(xs)
			width: 100%
			margin-right: 0
		&:hover
			box-shadow: none
		.btn-icon
			position: absolute
			top: 0
			left: 0
			width: 72px
			height: 72px
			display: inline-block
			border-radius: 50%
			overflow: hidden
	&.small
		min-width: 175px
		height: 40px
		font-size: em(15px)
		.btn-icon
			width: 40px
			height: 40px
	&.med
		font-size: em(17px)
		padding: 15px 50px
	//colors buttons
	&.btn--dark-pink
		background-color: #d03788
	&.btn--pink
		background-color: #d267f4
	&.btn--light-pink
		background-color: #da73aa
		color: $white
	&.btn--purple
		background-color: #BA8DFD
	&.btn--dark-blue
		background-color: #374fd0
	&.btn--blue
		background-color: #86b4dd
	&.btn--light-blue
		background-color: #5ab8d1
	&.btn--turquoise
		background-color: #5bc4b5
	&.btn--yellow
		background-color: #fcb145
	&.btn--dark-yellow
		background-color: #fcbb52
	&.btn--orange
		background-color: #fd6356
	&.btn--green-m
		background-color: #83C988
	&.btn--green-l
		background-color: #63b76d
		color: $white
		border-color: #63b76d
		&:hover
			background-color: $white
			color: #63b76d
		&:disabled
			&:hover
				background-color: #63b76d
				color: $white
	&.btn--add-more
		background-color: #145E72
	&-white
		background-color: $white
		&:hover
			border-color: $white
			background-color: transparent
			color: $white
	&.btn--o
		background-color: transparent
		border-color: $white
		color: $white
		&:hover
			border-color: $white
			background-color: $white
			color: $turquoiseM
	&.btn--follow
		border-color: $turquoiseM
		background-color: #fff
		color: $turquoiseM
		text-transform: uppercase
		padding: 8px 35px
		&:hover
			background-color: $turquoiseM
			border-color: $turquoiseM
			color: $white