// form-step
.form-step
	display: none
	&.active
		display: flex

textarea
	resize: none
	overflow-y: auto

// Checkbox & Radio buttons
.new-label
	cursor: pointer
	position: relative
	display: flex
	align-items: center
	// @include interpolate(line-height, $LP, $fullHD, 15px, 20px)
	&:hover
		.new-primary
			border-color: $primary_lighter
	input
		width: 0
		height: 0
		position: absolute
		z-index: -1000
		&:checked
			~ .new-primary
				border-color: $primary_light
			~ .new-checkbox
				background-color: $primary_light
				&:before
					opacity: 1
			~ .new-radio
				border-width: 2px
				&:before
					opacity: 1
			~ span ~ .new-checkbox-radio-text
				color: $primary_lighter
	&.active
		.new-primary
			border-color: $primary_light
		.new-checkbox
			background-color: $primary_light
			&:before
				opacity: 1
		&:disabled
			~ .new-checkbox-radio
				opacity: 0.6


.new-checkbox-radio
	@include interpolate(width, $LP, $fullHD, 15px, 20px)
	@include interpolate(height, $LP, $fullHD, 15px, 20px)
	position: relative
	margin-right: 6px
	border-radius: 50%
	border-width: 1px
	border-style: solid
	background-color: $white

.new-primary
	border-color: $color_primary_darkest
	&:hover
		border-color: $primary_lighter

.new-checkbox
	&:before
		content: ''
		@include interpolate(width, $LP, $fullHD, 9px, 12px)
		@include interpolate(height, $LP, $fullHD, 9px, 12px)
		position: absolute
		background-image: url(../images/dist/icons/check-white.svg)
		background-size: 100%
		background-repeat: no-repeat
		background-position: center
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		opacity: 0

.new-radio
	&:before
		content: ''
		display: block
		border-radius: 50%
		@include interpolate(width, $LP, $fullHD, 9px, 12px)
		@include interpolate(height, $LP, $fullHD, 9px, 12px)
		background-color: $primary_light
		position: absolute
		@include interpolate(left, $LP, $fullHD, 1px, 1.333px)
		@include interpolate(top, $LP, $fullHD, 1px, 1.333px)
		// transform: translate(-50%, -50%)
		opacity: 0

.payment-icon
	@include interpolate(width, $LP, $fullHD, 28px, 38px)
	height: auto
	@include interpolate(margin-right, $LP, $fullHD, 4.5px, 6px)
	&:last-child
		margin-right: 0

// selector-button
.selector-button
	span
		@include interpolate(width, $LP, $fullHD, 257px, 343px)
		@include interpolate(height, $LP, $fullHD, 50px, 67px)
		cursor: pointer
		transition: all .25s ease-out
		&:hover
			background-color: $color_primary_light
	input
		&:checked
			~ span
				background-color: $primary_light
				color: $white
	&.disabled
		span
			cursor: default
			opacity: 0.6

// newton-form-group
.newton-form-group
	@include interpolate(width, $LP, $fullHD, 257px, 343px)
	@include interpolate(height, $LP, $fullHD, 50px, 67px)
	transition: all .25s ease-out
	&:hover
		background-color: $color_primary_light
	> label
		left: 1rem
		top: 50%
		transform: translateY(-50%)
		transform-origin: left top
		cursor: text
		transition: all 0.25s
		.error-message
			color: $color_danger_light
			opacity: 0
			transition: all 0.25s
	input
		color: $primary_light
		border: 1px solid transparent
		&:focus:required:invalid ~ label > .error-message
			opacity: 1
	input:focus ~ label,
	input:not(:placeholder-shown) ~ label
		top: 33%
		left: 1rem
		@include interpolate(font-size, $LP, $fullHD, 9px, 12px)
	&.disabled
		cursor: default
		opacity: 0.6
		input, label
			cursor: default
	&.required
		background-image: url(../img/icons/required.svg)
		background-repeat: no-repeat
		background-position: right 1rem center
		@include interpolate(background-size, $LP, $fullHD, 6px, 8px)
		input:focus ~ label > .error-message
			opacity: 1

// back-link
.back-link
	@include interpolate(width, $LP, $fullHD, 30px, 40px)
	@include interpolate(height, $LP, $fullHD, 30px, 40px)
	@include interpolate(top, $LP, $fullHD, 24px, 32px)
	@include interpolate(left, $LP, $fullHD, 24px, 32px)
	opacity: 0.8 !important
	img
		@include interpolate(width, $LP, $fullHD, 9px, 12px)
		height: auto
	&:hover
		opacity: 1 !important


// new-dropdown
.new-dropdown
	&.is-active
		background-color: $color_primary_dark
		z-index: 1
		.new-dropdown-arrow
			transform: translateY(-50%) rotate(-180deg)
		// .new-dropdown-list
		// 	height: auto
		// 	opacity: 1
		// 	transform: translateY(6px)
	&.is-selected
		.new-dropdown-label
			top: 33%
			left: 1rem
			@include interpolate(font-size, $LP, $fullHD, 9px, 12px)
		.new-dropdown-value
			display: block
.new-dropdown-list
	display: none
	// height: 0
	// opacity: 0
	box-shadow: 0px 0px 11px rgba(165, 165, 165, 0.2)
	transform: translateY(6px)
	// transition: all 0.2s ease
	z-index: -1
	ul
		list-style: none
		li
			cursor: pointer
			transition: all 0.2s ease
			position: relative
			z-index: 1
			&:hover, &.active
				color: $primary_light
				
.new-dropdown-label
	top: 50%
	transform: translateY(-50%)
	left: 1rem
.new-dropdown-value
	display: none
	left: 1rem
	bottom: 0.6rem
.new-dropdown-arrow
	transition: all .15s ease
	transform: translateY(-50%) rotate(0deg)
	right: 1rem
	img
		@include interpolate(width, $LP, $fullHD, 7.5px, 10px)
		height: auto
