<div class="card menu-vertical menu-arrows mb-4">
	<div class="card-body">
		
		<div class="nav flex-column">
			<a href="/pages/settings/" class="nav-link py-3 px-0 text-start active">Personal information</a>
			<a href="#" class="nav-link py-3 px-0 text-start">Security</a>
			<a href="#" class="nav-link py-3 px-0 text-start">Parent</a>
			<a href="#" class="nav-link py-3 px-0 text-start">Subscriptions</a>
		</div>

	</div>
</div>

<div class="card menu-vertical menu-links mb-4">
	<div class="card-body">
		
		<div class="nav flex-column">
			<a href="#" class="nav-link active py-3 px-0 text-start">Help & Feedback</a>
			<a href="#" class="nav-link py-3 px-0 text-start">About</a>
		</div>

	</div>
</div>