<div class="card menu-vertical menu-tabs mb-3">
	<div class="card-body">
		
		<div class="nav flex-column" role="tablist" aria-orientation="vertical">
			<button class="nav-link active py-3 px-0 text-start" data-bs-toggle="pill" data-bs-target="#tab-content-0" type="button" role="tab" aria-controls="tab-content-0" aria-selected="true">Personal information</button>
			<button class="nav-link py-3 px-0 text-start" data-bs-toggle="pill" data-bs-target="#tab-content-1" type="button" role="tab" aria-controls="tab-content-1" aria-selected="false">Security</button>
			<button class="nav-link py-3 px-0 text-start" data-bs-toggle="pill" data-bs-target="#tab-content-2" type="button" role="tab" aria-controls="tab-content-2" aria-selected="false">Parent</button>
			<button class="nav-link py-3 px-0 text-start" data-bs-toggle="pill" data-bs-target="#tab-content-3" type="button" role="tab" aria-controls="tab-content-3" aria-selected="false">Subsribers</button>
		</div>

	</div>
</div>

<div class="card menu-vertical menu-links mb-3">
	<div class="card-body">
		
		<div class="nav flex-column">
			<a href="#" class="nav-link active py-3 px-0 text-start">Help & Feedback</a>
			<a href="#" class="nav-link py-3 px-0 text-start">About</a>
		</div>

	</div>
</div>