<div class="card menu-vertical menu-arrows mb-3">
	<div class="card-body">

		<div class="nav flex-column">
			<a href="pages/settings/" class="nav-link py-3 px-0 text-start active">Personal information</a>
			<a href="pages/settings/security.html" class="nav-link py-3 px-0 text-start">Security</a>
			<a href="pages/settings/parents.html" class="nav-link py-3 px-0 text-start">Parents</a>
			<a href="pages/settings/subscriptions.html" class="nav-link py-3 px-0 text-start">Subscriptions</a>
		</div>

	</div>
</div>

<div class="card menu-vertical menu-links mb-3">
	<div class="card-body">

		<div class="nav flex-column">
			<a href="#" class="nav-link active py-3 px-0 text-start">Help & Feedback</a>
			<a href="#" class="nav-link py-3 px-0 text-start">About</a>
		</div>

	</div>
</div>