<div class="sidebar-menu">

	<div class="sidebar-menu__row d-flex">

		<a href="./" class="sidebar-link d-flex align-items-center text-white active">
			<span class="sidebar-link__icon">
				<img src="images/dist/icons/home.svg" alt="">
			</span>
			<!-- /.sidebar-link__icon -->
			<span class="sidebar-link__text">Home</span>
		</a>
		<a class="sidebar-link d-flex align-items-center text-white">
			<span class="sidebar-link__icon">
				<img src="images/dist/icons/knowledge.svg" alt="">
			</span>
			<!-- /.sidebar-link__icon -->
			<span class="sidebar-link__text">Knowledge</span>
		</a>
		<a class="sidebar-link d-flex align-items-center text-white">
			<span class="sidebar-link__icon">
				<img src="images/dist/icons/school.svg" alt="">
			</span>
			<!-- /.sidebar-link__icon -->
			<span class="sidebar-link__text">School</span>
		</a>

	</div>
	<!-- /.sidebar-menu__row -->

	<a class="sidebar-link d-flex align-items-center text-white">
		<span class="sidebar-link__icon">
			<img src="images/dist/icons/diary.svg" alt="">
		</span>
		<!-- /.sidebar-link__icon -->
		<span class="sidebar-link__text">Diary</span>
	</a>
	<a class="sidebar-link d-flex align-items-center text-white">
		<span class="sidebar-link__icon">
			<img src="images/dist/icons/statistics.svg" alt="">
		</span>
		<!-- /.sidebar-link__icon -->
		<span class="sidebar-link__text">Statistics</span>
	</a>
	<a class="sidebar-link d-flex align-items-center text-white">
		<span class="sidebar-link__icon">
			<img src="images/dist/icons/book-opened-filled-reading-tool.svg" alt="">
		</span>
		<!-- /.sidebar-link__icon -->
		<span class="sidebar-link__text">Homework</span>
	</a>
	<a class="sidebar-link d-flex align-items-center text-white">
		<span class="sidebar-link__icon">
			<img src="images/dist/icons/speech-bubble.svg" alt="">
		</span>
		<!-- /.sidebar-link__icon -->
		<span class="sidebar-link__text">Messages</span>
	</a>
	<a class="sidebar-link d-flex align-items-center text-white">
		<span class="sidebar-link__icon">
			<img src="images/dist/icons/folder.svg" alt="">
		</span>
		<!-- /.sidebar-link__icon -->
		<span class="sidebar-link__text">Materials</span>
	</a>
	<a class="sidebar-link d-flex align-items-center text-white">
		<span class="sidebar-link__icon">
			<img src="images/dist/icons/calendar.svg" alt="">
		</span>
		<!-- /.sidebar-link__icon -->
		<span class="sidebar-link__text">Schedule</span>
	</a>
	<a class="sidebar-link d-flex align-items-center text-white">
		<span class="sidebar-link__icon">
			<img src="images/dist/icons/tutors.svg" alt="">
		</span>
		<!-- /.sidebar-link__icon -->
		<span class="sidebar-link__text">Tutors</span>
	</a>

	<div class="sidebar-menu__bottom">
		<a href="pages/settings/" class="sidebar-link d-flex align-items-center text-white">
			<span class="sidebar-link__icon">
				<img src="images/dist/icons/settings.svg" alt="">
			</span>
			<!-- /.sidebar-link__icon -->
			<span class="sidebar-link__text">Settings</span>
		</a>
		<a class="sidebar-link d-flex align-items-center text-white">
			<span class="sidebar-link__icon">
				<img src="images/dist/icons/question-mark.svg" alt="">
			</span>
			<!-- /.sidebar-link__icon -->
			<span class="sidebar-link__text">Help</span>
		</a>
		<a class="sidebar-link d-flex align-items-center text-white">
			<span class="sidebar-link__icon">
				<img src="images/dist/icons/heart.svg" alt="">
			</span>
			<!-- /.sidebar-link__icon -->
			<span class="sidebar-link__text">Invite friends</span>
		</a>
	</div>
	<!-- /.sidebar-menu__bottom -->

	<a href="javascript:void(0)" class="sidebar-logo">
		<img src="images/dist/logo-white.svg" alt="" class="sidebar-open">
		<img src="images/dist/logo-circle.svg" alt="" class="sidebar-close size-32">
	</a>
	<!-- /.sidebar-logo -->

</div>