---
layout: default
---
<div class="blocks container-fluid px-0">

	{%- include components/sitemap-menu.html -%}

	<div class="row">

		{%- include design-system/typography.html -%}
		{%- include design-system/molecules.html -%}
		{%- include design-system/forms.html -%}

		<div class="col-4">
			<div class="card mb-3">
				<div class="card-body">
					<span class="size"></span><br>
					&nbsp;<br>
					&nbsp;<br>
					&nbsp;<br>
					&nbsp;<br>
					&nbsp;<br>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<span class="size"></span><br>
					&nbsp;<br>
					&nbsp;<br>
					&nbsp;<br>
					&nbsp;<br>
				</div>
			</div>
		</div>
		<!-- /.col-4 -->
		<div class="col-8">
			<div class="card h-100">
				<div class="card-body">
					<span class="size"></span><br>
					{{ content }}
				</div>
			</div>
		</div>
		<!-- /.col-8 -->
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-3">
			<div class="card mb-3">
				<div class="card-body">
					<span class="size"></span><br>
					&nbsp;<br>
					&nbsp;<br>
					&nbsp;<br>
					&nbsp;<br>
					&nbsp;<br>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<span class="size"></span><br>
					&nbsp;<br>
					&nbsp;<br>
					&nbsp;<br>
					&nbsp;<br>
				</div>
			</div>
		</div>
		<!-- /.col-3 -->
		<div class="col-9">
			<div class="card h-100">
				<div class="card-body">
					<span class="size"></span><br>
					{{ content }}
				</div>
			</div>
		</div>
		<!-- /.col-9 -->
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-12">
			<div class="card mb-3">
				<div class="card-body">
					<span class="size"></span><br>
					{{ content }}
				</div>
			</div>
		</div>
		<!-- /.col-8 -->
	</div>
	<!-- /.row -->
</div>