<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'ru' }}">
<head>
{%- include head.html -%}
</head>

<body {% if page.layout == 'auth' %}class="bg-white"{% endif %}>

	{% if page.layout != 'auth' %}

	{%- include image.html -%}

	{%- include header.html -%}

	{%- include sidebar.html -%}


	<div class="wrapper">
		<div class="content">

			{%- include grid.html -%}

			{{ content }}

		</div>
		<!-- /.content -->
	</div>
	<!-- /.wrapper -->

	{% else %}
		{{ content }}
	{% endif %}


	{%- include footer.html -%}

	<script src="{{ 'js/app.min.js' | relative_url }}"></script>

	<!-- edit: alexsab.ru -->

</body>

</html>