.modal{
	background-color: rgba($backgrount_light, .3);
}

.modal-header, .modal-footer{
	padding: 30px;
	position: relative;
}

.modal-body{
	padding: 0 30px;
}

.modal h4{
	font-size: 24px;
	line-height: 1;
}

.modal p{
	font-size: 16px;
	margin-bottom: 0;
	color: $color_primary_darkest;
}

.modal button.btn-close{
	position: absolute;
	top: 35px;
	right: 11px;
	color: $color_primary_darkest;
}

.modal-content{
	border-radius: 16px;
}