<div class="card users parents p-4 mb-3">
	<div class="card-body">
		<div class="settings-wrap mx-auto">
			<div class="card user-card primary-light mb-3 mx-auto" id="user-card">
				<div class="card-body">
					<div class="d-flex flex-nowrap align-items-center mx-0">
						<div class="user-avatar custom-card-img me-3">
							<a href="javascript:void(0)"><img src="images/dist/user.png" alt=""></a>
						</div>
						<div class="user-info">
							<a href="javascript:void(0)">John Caffrey</a>
							<p class="card-text"><small>Parent</small></p>
						</div>
					</div>
					<button type="button" data-bs-dismiss="user-card" id="btn-close" class="btn-close position-absolute" aria-label="Close"></button>
				</div>
			</div>

			<button type="button" class="card add-btn bg-white border" data-bs-toggle="modal" data-bs-target="#addUser">
				<img src="images/dist/icons/plus.svg" alt="">
			</button>

		</div>
		<!-- /.settings-wrap mx-auto -->


	</div>
	<!-- /.card-body -->
</div>