<div class="card user-info-security p-4 mb-3">
	<div class="card-body text-center">
		
		<form class="update-user-information mx-auto">

			<div class="input-group custom-group required mb-3">
				<span class="input-label"><small>Email</small></span>
				<input type="email" class="pt-4 pb-1 px-3" name="email" value="mail@mail.com">
			</div>

			<div class="input-group custom-group required mb-3">
				<span class="input-label"><small>Phone</small></span>
				<input type="tel" class="pt-4 pb-1 px-3" name="phone" value="+71234567890">
			</div>

			<div class="input-group custom-group required mb-5">
				<span class="input-label"><small>Password</small></span>
				<input type="password" class="pt-4 pb-1 px-3" name="password" value="+71234567890">
			</div>

			

			<button type="submit" class="btn btn-secondary-dark">Save changes</button>

		</form>

	</div>
	<!-- /.card-body -->
</div>