<div class="card subscriptions mb-3">
	<div class="card-body p-4 pb-5">
		<div class="row">
			<div class="col-5">
				
				<!--#include virtual="/inc/components/menu/subscriptions-menu.html" -->			

			</div>
			<!-- /.col-5 -->

			<div class="col-5 offset-1">

				<h6 class="custom-card-title fw-normal text-uppercase mb-3">Your Subscription</h6>

				<div class="card primary-light mb-4 py-3 menu-link-with-icon">
					<span class="d-flex flex-nowrap align-items-center">
						<img src="images/dist/icons/2.svg" alt="ALT" class="ms-3">
						<span class="link-text px-3 pe-5">
							<h5 class="mb-2">Free</h5>
							<p>Use all the platform's features and free resources with viewing ads.</p>
						</span>
						<!-- /.link-text -->
					</span>
					<!-- /.row -->
				</div>


				<h6 class="custom-card-title fw-normal text-uppercase mb-3">Options</h6>


				<div class="card option-card primary-light p-3 mb-4">

					<ul class="mb-0">
						<li class="fz-16 mb-2">Acsess to all platform features</li>
						<li class="fz-16 mb-2">Free video with advertising</li>
						<li class="fz-16 mb-2">Use premium resourses with your teacher</li>
						<li class="fz-16 mb-2">You can purchase any resource separate</li>
						<li class="fz-16 mb-2">Get Classwork or Homework from your teacher</li>
						<li class="fz-16 mb-2">Something</li>
					</ul>

				</div>
				<!-- /.card -->

				<h6 class="custom-card-title fw-normal text-uppercase mb-3">Best Offer</h6>

				<nav class="menu-list subscriptions-menu-list menu-arrows mb-5">
					<a href="pages/settings/subscriptions.html" class="card primary-light mb-3 py-3 menu-link-with-icon menu-link-with-border">
						<span class="d-flex flex-nowrap align-items-center">
							<img src="images/dist/icons/1.svg" alt="ALT" class="ms-3">
							<span class="link-text px-3 pe-5">
								<h5 class="mb-2">Get Newton One</h5>
								<p>Get access to thousands of lessons. Quizzes, books, videos and presentation.</p>
							</span>
							<!-- /.link-text -->
						</span>
						<!-- /.row -->
					</a>
				</nav>

				<div class="text-center">
					<small class="fz-12 gray-color d-block mb-3">1 week free, then $49 / month</small>
					<a href="javascript:void(0)" class="btn btn-secondary-dark">Confirm Payment</a>
				</div>
				<!-- /.text-center -->				

			</div>
			<!-- /.col-5 -->

		</div>
		<!-- /.row -->

	</div>
	<!-- /.card-body -->
</div>