<div class="card subscriptions mb-3">
	<div class="card-body p-4 pb-5">
		<div class="row">
			<div class="col-6">
				
				<!--#include virtual="/inc/components/menu/subscriptions-menu.html" -->			

			</div>
			<!-- /.col-5 -->

			<div class="col-6">

				<div class="text-center pt-4 mb-5">
					<h4 class="mb-3">Newton One</h4>
					<p class="fz-16">Get access to thousands of lessons. Quizzes, books, videos and presentation.</p>
				</div>
				<!-- /.text-center -->

				<div class="card primary-light p-3 mb-3">
					<h5>Newton One</h5>
					<p class="fw-normal fz-16 mb-1">1 week free, then $49 / month</p>
					<p class="fz-12 gray-color mb-0">You can use free trial only one time for your profile</p>
					<hr class="hr gray my-3">

					<div class="d-flex align-items-center mb-3">
						<img src="images/dist/icons/3.svg" alt="ALT" class="size-32 me-3">
						<span class="fz-12 fw-600">100K+ video lessons, all ad-free</span>
					</div>
					<div class="d-flex align-items-center mb-3">
						<img src="images/dist/icons/4.svg" alt="ALT" class="size-32 me-3">
						<span class="fz-12 fw-600">Over 350K quizzes, with detailed statistics</span>
					</div>
					<div class="d-flex align-items-center">
						<img src="images/dist/icons/5.svg" alt="ALT" class="size-32 me-3">
						<span class="fz-12 fw-600">All books and presentations needed and more</span>
					</div>

				</div>
				<!-- /.card -->

				<form action="">

					<input type="hidden" id="subscribe_plan" name="subscribe-plan" value>

					<div class="card option-card primary-light p-3 mb-5">

						<div class="option-card-item d-flex align-items-center justify-content-between bought">
							<div class="option-card-item-text">
								<h5 class="fw-normal fz-16 mb-0">Newton One (1 Month)</h5>
								<small class="fz-12 gray-color mt-2 total-date">Renews 01 Jul 2021</small>
							</div>
							<div class="option-card-item-price pe-4">$49</div>
						</div>

						<hr class="hr gray my-3">

						<div class="option-card-item d-flex align-items-center justify-content-between">
							<div class="option-card-item-text">
								<h5 class="fw-normal fz-16 mb-0">Newton One (1 Year)</h5>
								<small class="fz-12 gray-color mt-2 total-date">Renews 01 Jul 2021</small>
							</div>
							<div class="option-card-item-price pe-4">$490</div>
						</div>

					</div>
					<!-- /.card -->

					<div class="text-center">
						<small class="fz-12 gray-color d-block mb-3">1 week free, then $49 / month</small>
						<button type="submit" class="btn btn-secondary-dark">Confirm Payment</button>
					</div>
					<!-- /.text-center -->
				</form>
				

			</div>
			<!-- /.col-5 -->

		</div>
		<!-- /.row -->

	</div>
	<!-- /.card-body -->
</div>