<div class="card subscriptions mb-3">
	<div class="card-body p-4 pb-5">
		<div class="row">
			<div class="col-6">
				
				<!--#include virtual="/inc/components/menu/subscriptions-menu.html" -->			

			</div>
			<!-- /.col-5 -->

			<div class="col-6">

				<h6 class="custom-card-title fw-normal text-uppercase mb-3">Your Subscription</h6>

				<div class="card primary-light mb-4 py-3 menu-link-with-icon">
					<span class="d-flex flex-nowrap align-items-center">
						<img src="images/dist/icons/3.svg" alt="ALT" class="ms-3">
						<span class="link-text px-3 pe-5">
							<h5 class="mb-2">Video Lessons +</h5>
							<p>100K+ Video lessons. All ad-free</p>
						</span>
						<!-- /.link-text -->
					</span>
					<!-- /.row -->
				</div>


				<h6 class="custom-card-title fw-normal text-uppercase mb-3">Options</h6>

				<form action="" class="mb-5">

					<input type="hidden" id="subscribe_plan" name="subscribe-plan" value>

					<div class="card option-card primary-light p-3 mb-4">

						<div class="option-card-item d-flex align-items-center justify-content-between bought">
							<div class="option-card-item-text">
								<h5 class="fw-normal fz-16 mb-0">Books & Presentation + (1 Month)</h5>
								<small class="fz-12 gray-color mt-2 total-date">Renews 01 Jul 2021</small>
							</div>
							<div class="option-card-item-price pe-4">$49</div>
						</div>

						<hr class="hr gray my-3">

						<div class="option-card-item d-flex align-items-center justify-content-between">
							<div class="option-card-item-text">
								<h5 class="fw-normal fz-16 mb-0">Books & Presentation + (1 Year)</h5>
								<small class="fz-12 gray-color mt-2 total-date">Renews 01 Jul 2021</small>
							</div>
							<div class="option-card-item-price pe-4">$490</div>
						</div>

					</div>
					<!-- /.card -->

					<h6 class="custom-card-title fw-normal text-uppercase mb-3">Best Offer</h6>

					<nav class="menu-list subscriptions-menu-list menu-arrows mb-5">
						<a href="pages/settings/subscriptions.html" class="card primary-light mb-3 py-3 menu-link-with-icon menu-link-with-border">
							<span class="d-flex flex-nowrap align-items-center">
								<img src="images/dist/icons/1.svg" alt="ALT" class="ms-3">
								<span class="link-text px-3 pe-5">
									<h5 class="mb-2">Get Newton One</h5>
									<p>Get access to thousands of lessons. Quizzes, books, videos and presentation.</p>
								</span>
								<!-- /.link-text -->
							</span>
							<!-- /.row -->
						</a>
					</nav>

					<div class="text-center">
						<small class="fz-12 gray-color d-block mb-3">1 week free, then $49 / month</small>
						<button type="submit" class="btn btn-secondary-dark">Confirm Payment</button>
					</div>
					<!-- /.text-center -->
				</form>
				

			</div>
			<!-- /.col-5 -->

		</div>
		<!-- /.row -->

	</div>
	<!-- /.card-body -->
</div>