<div class="card subscriptions mb-3">
	<div class="card-body p-4 pb-5">
		<div class="row">
			<div class="col-5">
				
				<!--#include virtual="/inc/components/menu/subscriptions-menu.html" -->			

			</div>
			<!-- /.col-5 -->

			<div class="col-5 offset-1">


				<div class="card primary-light p-3 history-card">

					<div class="d-flex align-items-center justify-content-between">
						<div class="option-card-item-text">
							<h5 class="fw-normal fz-16 mb-0">Newton One (1 Month)</h5>
							<small class="fz-12 gray-color">Renews 01 Jul 2021</small>
						</div>
						<div class="option-card-item-price">$49</div>
					</div>

					<hr class="hr gray my-3">

					<div class="d-flex align-items-center justify-content-between">
						<div class="option-card-item-text">
							<h5 class="fw-normal fz-16 mb-0">Newton One (1 Month)</h5>
							<small class="fz-12 gray-color">Renews 01 Jul 2021</small>
						</div>
						<div class="option-card-item-price">$149</div>
					</div>

					<hr class="hr gray my-3">

					<div class="d-flex align-items-center justify-content-between">
						<div class="option-card-item-text">
							<h5 class="fw-normal fz-16 mb-0">Newton One (1 Month)</h5>
							<small class="fz-12 green-color">Renews 01 Jul 2021</small>
						</div>
						<div class="option-card-item-price">$1249</div>
					</div>

				</div>

			</div>
			<!-- /.col-5 -->

		</div>
		<!-- /.row -->

	</div>
	<!-- /.card-body -->
</div>